<div class="card result-count-card">
  <h2>Total Results: <span><%= achievements.length %></span></h2>
</div>

<% if (achievements.length) { %>
  <section class="card">
    <%- use('partials/genshin/archive/achievements-table', { achievements: achievements, showCategory: true }) %>
  </section>
<% } %>
<% if (!achievements.length) { %>
  <div class="card no-results-found">
    <div class="content">
      <p>No results found for <b><%= searchText %></b></p>
    </div>
  </div>
<% } %>