<a class="material-item" href="/<%= monster.AnimalDescribe ? 'wildlife' : 'enemies' %>/<%= monster.Id %>">
  <div class="material-card">
    <div class="material-icon no-count" data-quality="0">
      <% if (monster.Describe?.Icon) { %>
        <img src="/images/genshin/<%= monster.Describe?.Icon %>.png" loading="lazy" decoding="async" />
      <% } else { %>
          <img src="/images/genshin/static/Item_Unknown.png" loading="lazy" decoding="async" />
      <% } %>
    </div>
  </div>
  <span class="dispBlock material-name">
    <span class="dispBlock"><%= monster.NameText || monster.Describe?.NameText || '(Unnamed)' %></span>
  </span>
</a>