.ace_static_highlight {
  //font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'Droid Sans Mono', monospace;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  font-size: 13.333px;
  white-space: pre-wrap;
  line-height: 22px;
}

.ace_static_highlight .ace_gutter {
  width: 2em;
  text-align: right;
  padding: 0 3px 0 0;
  margin-right: 3px;
}

.ace_static_highlight.ace_show_gutter .ace_line {
  padding-left: 2.6em;
}

.ace_static_highlight .ace_line {
  position: relative;
}

.ace_static_highlight .ace_gutter-cell {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.ace_static_highlight .ace_gutter-cell:before {
  content: counter(ace_line, decimal);
  counter-increment: ace_line;
}

.ace_static_highlight {
  counter-reset: ace_line;
}