// Layout Adjust
// --------------------------------------------------------------------------------------------------------------
.page--vo-tool {
  #app-wrapper {
    max-width: initial;
  }

  aside#app-sidebar {
    flex-basis: 20%;
  }

  main#app-main {
    flex-basis: 80%;
  }
}

#vo-app {
  padding-left: 20px;
}

.vo-handle-area.vo-handle-errored {
  opacity: 0.6;
  cursor: not-allowed;
  position: relative;
}
.vo-handle-area.vo-handle-errored:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

// Sidebar
// --------------------------------------------------------------------------------------------------------------
#vo-tool-sidebar {
  font-size: 15px;

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
  }

  .content {
    padding: 8px;
    &:first-child {
      padding-bottom: 0;
    }
  }

  a[role=button].secondary {
    padding: 3px 5px;
    margin-bottom: 5px;

    span.icon.framed {
      margin: 0;
      height: 28px;
      width: 28px;
    }
  }
}

// Toolbar
// --------------------------------------------------------------------------------------------------------------
#vo-app-toolbar {
  .vo-app-toolbar-avatarName {
    padding: 5px 10px;
    background: hsl(240deg, 30%, 95%);
    border: 0;
    border-right: 1px solid hsl(240deg, 30%, 90%);
    border-radius: 3px 0 0 3px;
    strong {
      margin-left: 10px;
      margin-right: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
    }
    img.icon {
      background: hsl(240deg, 30%, 90%);
      border: 2px solid hsl(240deg, 30%, 85%);
    }
  }
  .vo-app-toolbar-buttons {
    padding: 5px 10px;

    button.secondary {
      padding: 3px 12px;
    }
  }
}
body.nightmode #vo-app-toolbar .vo-app-toolbar-avatarName {
  background: hsl(255deg, 8%, 14%);
  border-right-color: hsl(255deg, 8%, 19%);
  img.icon {
    background: hsl(255deg, 8%, 25%);
    border: 2px solid hsl(255deg, 8%, 35%);
  }
}

// VO Group / Item Containers
// --------------------------------------------------------------------------------------------------------------
.vo-group-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background: rgba(0,0,0,0.05);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}
.vo-group-addItem {
  padding: 0 5px 5px 10px;
}
.vo-group-items {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 10px;
}
.vo-group.empty-group .vo-group-body {
  height: 0;
  overflow: hidden;
}
body.vo-item-dragging .vo-group.empty-group .vo-group-body {
  height: 60px; // 40 (height of vo item) + 5*2 (vo-group-items padding) + 5*2 (vo-item margin)
}
.vo-item,
.vo-group {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 0;
  margin: 5px 0;
  background: #fff;
}
.vo-group-header,
.vo-item-header {
  display: flex;
  align-items: center;
  height: 38px;
  line-height: 38px;
  padding: 0 5px;
}

// Sortable
// --------------------------------------------------------------------------------------------------------------
.sortable-ghost {
  background: lightblue;
  opacity: 0.6;
}

.sortable-drag {
  background: white;
  opacity: 1 !important;
  scale: 1;
  overflow: hidden;
  transform-origin: center;
  animation:
          sortable-drag-element-height 250ms linear forwards,
          sortable-drag-element-width 250ms ease forwards;
  box-shadow: 0 0 10px rgba(0,0,0,0.2), 0 0 30px rgba(0,0,0,0.2);
}

body.vo-dragging {
  cursor: move !important;

  .vo-group-add-buttons, .vo-item-remove, .vo-group-remove {
    display: none !important;
  }
}

@keyframes sortable-drag-element-width {
  100% { width: 300px; }
}
@keyframes sortable-drag-element-height {
  100% { height: 38px; }
}
span.drag-handle {
  padding: 6px;
  cursor: move;
}
svg.icon.icon-drag-handle {
  height: 14px;
  width: auto;
  fill: rgba(0,0,0,0.6);
}


// Seamless Input
// --------------------------------------------------------------------------------------------------------------
.seamless-input:not(:hover):not(:focus),
.seamless-input.no-hover {
  border-color: transparent !important;
}
body.vo-dragging .seamless-input {
  background: transparent !important;
  border-color: transparent !important;
}

// VO Item Header
// --------------------------------------------------------------------------------------------------------------
.vo-item-remove, .vo-group-remove {
  cursor: pointer;
  margin-left: 5px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  .icon {
    width: 16px;
    height: 16px;
  }
}

.vo-group-add-buttons {
  font-size: 14px;

  .secondary, .secondary-label {
    line-height: 28px;
    height: 28px;
    padding: 0 5px;
  }

  .secondary-label {
    font-size: 13px;
    font-weight: 600;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

// VO Item Params
// --------------------------------------------------------------------------------------------------------------
.vo-item-params {
  padding-left: 35px;
}
.vo-item-param, .vo-item-addParam {
  border-top: 1px solid hsla(232deg, 20%, 32%, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  body.nightmode & {
    border-top-color: hsla(232, 20%, 60%, 0.25);
  }
}
.vo-item-addParam {
  margin-left: 35px;
  padding-left: 5px;
  select {
    min-width: 200px;
  }
  .card .content & select,
  .card .content & input[type=text] {
    line-height: 14px;
    height: auto;
    padding: 3.5px 8px;
    font-size: 12.5px;
  }
}
.vo-item-param {
  &:hover {
    background: hsla(232deg, 20%, 32%, 0.02);
  }
  body.nightmode & {
    &:hover {
      background: hsla(232, 20%, 60%, 0.03);
    }
    .prop-value {
      background: hsla(232deg, 20%, 80%, 0.075);
    }
  }

  .prop-name {
    min-width: 100px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
  }
  .close {
    margin: 0 5px;
  }
}

// Nightmode
// --------------------------------------------------------------------------------------------------------------
body.nightmode .vo-item {
  background: hsl(240deg 12% 25%);
  box-shadow: 0 0 5px hsl(240deg 12% 14%);
}
body.nightmode .vo-group {
  background: hsl(240deg 12% 23%);
}

body.nightmode .vo-group .vo-group-body {
  background: hsl(240deg 12% 21%);
  box-shadow: inset 0 0 8px hsl(240deg 12% 12%);
}

body.nightmode svg.icon.icon-drag-handle {
  fill: hsl(255deg, 5%, 73%);
}

body.nightmode .seamless-input {
  background: transparent !important;
}