
<section class="card">
  <h2>Serenitea Pot Companion Dialogue<% if (locals.charName) { %> &mdash; <%= charName %><% } %></h2>
  <% if (locals.charNames) { %>
    <div class="content dispFlex flexWrap talign">
      <% charNames.sort().forEach(charName => { %>
       <a class="secondary spacer3-all w20p" role="button" href="/character/companion-dialogue/<%= charName.replace(/ /g, '_') %>"><%= charName %></a>
      <% }) %>
    </div>
  <% } %>
  <% if (locals.dialogue) { %>
    <div class="content">
      <div class="dialogue-container">
        <% dialogue.forEach(section => { %>
          <%- include('partials/quests/dialogue-section', section) %>
        <% }) %>
      </div>
    </div>
  <% } %>
</section>