
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid hsla(204, 90%, 60%, 0.3);
  border-top-color: #3daaf5;
  animation: loading-spin 1s infinite linear;
  flex-shrink: 0 !important;
}
.loading.small {
  width: 12px;
  height: 12px;
}
.loading.xsmall,
.loading.x-small {
  width: 8px;
  height: 8px;
}
.loading.x8 { width: 8px; height: 8px; }
.loading.x10 { width: 10px; height: 10px; }
.loading.x12 { width: 12px; height: 12px; }
.loading.x14 { width: 14px; height: 14px; }
.loading.x16 { width: 16px; height: 16px; }
.loading.x18 { width: 18px; height: 18px; }
.loading.x20 { width: 20px; height: 20px; }
.loading.x22 { width: 22px; height: 22px; }
.loading.x24 { width: 24px; height: 24px; }
.loading.x28 { width: 26px; height: 26px; }
.loading.x28 { width: 28px; height: 28px; }
.loading.x30 { width: 24px; height: 30px; }
.loading.x32 { width: 32px; height: 32px; }
.loading.x34 { width: 34px; height: 34px; }
.loading.x36 { width: 36px; height: 36px; }
.loading.x38 { width: 38px; height: 38px; }
.loading.x40 { width: 40px; height: 40px; }
.loading.x42 { width: 42px; height: 42px; }
