textarea,
select,
input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='time'],
input[type='date'],
[contenteditable],
.input-style {
  font-family: Arial, "Source Sans Pro", sans-serif;
  font-size: 13.333px;
  border: 1px solid hsla(232, 20%, 32%, 0.25);
  border-radius: 3px;
  box-sizing: border-box;
  background: #fff;
}

textarea:hover,
textarea:focus,
select:hover,
select:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='password']:hover,
input[type='password']:focus,
input[type='search']:hover,
input[type='search']:focus,
input[type='email']:hover,
input[type='email']:focus,
input[type='url']:hover,
input[type='url']:focus,
input[type='number']:hover,
input[type='number']:focus,
input[type='time']:hover,
input[type='time']:focus,
input[type='date']:hover,
input[type='date']:focus,
[contenteditable]:hover,
[contenteditable]:focus,
.input-style:hover,
.input-style:focus {
  border: 1px solid hsla(232, 20%, 32%, 0.4);
}

textarea:focus,
select:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='number']:focus,
input[type='time']:focus,
input[type='date']:focus,
[contenteditable]:focus,
.input-style:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 140, 221, 0.2);
  border-color: #3daaf5;
}

input.error, textarea.error, select.error, .error-border-color,
[contenteditable].error, .input-style.error {
  border-color: rgba(230, 69, 72, 0.5) !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  textarea,
  select,
  hr,
  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='email'],
  input[type='url'],
  input[type='number'],
  input[type='time'],
  input[type='date'],
  .thin-border,
  .card > h2,
  textarea:hover,
  select:hover,
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='search']:hover,
  input[type='email']:hover,
  input[type='url']:hover,
  input[type='number']:hover,
  input[type='time']:hover,
  input[type='date']:hover,
  .thin-border:hover,
  textarea:focus,
  select:focus,
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='email']:focus,
  input[type='url']:focus,
  input[type='number']:focus,
  input[type='time']:focus,
  input[type='date']:focus,
  .thin-border:focus,
  .card,
  [contenteditable],
  [contenteditable]:hover,
  [contenteditable]:focus,
  .input-style,
  .input-style:hover,
  .input-style:focus {
    border-width: 0.5px !important;
  }
}

[contenteditable].highlighted {
  margin-bottom: 5px;
}

input[type='number'] {
  padding-right: 0 !important;
}