body:not(.page--wide).painmelo {
  &:after {
    content: '';
    position: fixed;
    pointer-events: none;
    bottom: 10px;
    right: 10px;
    height: 120px;
    width: 120px;
    background: url(/images/site/home/Painmelo.png) no-repeat bottom right / 90px;
    opacity: 0.25;
  }
  &.nightmode:after {
    opacity: 0.18;
  }
}
