

.error-box-card {
  border-top: 3px solid hsla(359, 76%, 54%, 1);
}

.error-box {
  max-width: 500px;
  padding: 20px 0 60px 40px;

  p {
    line-height: 24px;
    margin-top: 10px;
  }

  hr {
    margin: 10px 0;
    border-color: hsla(223, 67%, 18%, 0.15);
    body.nightmode & {
      border-color: hsl(255deg 13% 25%);
    }
  }

  h1 {
    opacity: 0.5;
    font-size: 30px;
  }

  h2 {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
  }
}
