.info-notice {
  background: #eff8ff;
  border: 1px solid #cce9ff;
  padding: 7px 10px;
  body.nightmode & {
    background: hsl(206deg 33% 31% / 20%);
    border: 1px solid hsla(206, 33%, 31%, 0.45);
  }

  &.inline {
    height: 31.33px !important;
    line-height: 29.33px !important;
    padding: 0 10px !important;

    .icon {
      height: 19px;
      color: #468ec6;
    }
  }
}

.error-notice {
  background: #fee3e3;
  padding: 10px;
  border-radius: 3px;
  font-weight: 600;

  body.nightmode & {
    background: #5a2e2e;
    border: 1px solid #834444;
  }

  code {
    background: rgba(255,255,255,0.6);
    body.nightmode & {
      background: rgba(0,0,0,0.25);
    }
  }
}

.warn-notice, .warning-notice {
  background: #fbf2d2;
  padding: 10px;
  border-radius: 3px;
  font-weight: 600;

  body.nightmode & {
    background: #453e2e;
    border: 1px solid #7c6c47;
  }

  code {
    background: rgba(255,255,255,0.6);
    body.nightmode & {
      background: rgba(0,0,0,0.25);
    }
  }
}
