@mixin ace_token_tooltip($tooltipType, $tokenCls: null, $hoverBg: null, $hoverBgNightmode: null) {
  @if $tokenCls {
    #{$tokenCls} {
      position: relative;
    }
    #{$tokenCls}:hover {
      background: $hoverBg;
      transition: background 50ms ease;
      transition-delay: 100ms;

      body.nightmode & {
        background: $hoverBgNightmode;
        transition: background 50ms ease;
        transition-delay: 100ms;
      }
    }

    body.keydown-control, body.keydown-meta, body.keydown-alt {
      #{$tokenCls}:hover {
        cursor: pointer;
      }
    }
  }

  .ace_token-tooltip[data-type="#{$tooltipType}"] {
    background: #FFF;
    border: 1px solid #333;
    color: #111;
    font-size: 12px;
    line-height: 18px;
    position: fixed;
    white-space: pre;
    padding: 0 5px;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    z-index: 9999;
    transition: all 50ms ease;
    transition-delay: 100ms;
    body.nightmode & {
      background: #555;
      color: #eee;
      border-color: #ccc;
    }
    &.active {
      opacity: 1;
      transition: all 300ms ease;
      transition-delay: 700ms;
    }
  }
}

@mixin ace_token_tooltip_styles($tooltipType) {
  .ace_token-tooltip[data-type="#{$tooltipType}"] {
    @content
  }
}

@mixin ace_token_tooltip_nightmode_styles($tooltipType) {
  .ace_token-tooltip[data-type="#{$tooltipType}"] {
    body.nightmode & {
      @content
    }
  }
}

// Headers
// --------------------------------------------------------------------------------------------------------------
.ace_header-open,
.ace_header-close {
  color: #08f;
}

.ace_header {
  font-weight: bold;
}

// Templates
// --------------------------------------------------------------------------------------------------------------
.ace_template-color {
  color: #80c !important;
}
body.nightmode .ace_template-color {
  color: #D2A8FF !important;
}
.ace_template-customVar {
  font-weight: bold;
}
.ace_template-name {
  font-weight: bold;
  text-decoration: underline;
}
.ace_template-named-param {
  font-weight: bold;
}
.ace_template-delimiter {
  font-weight: bold;
}

@include ace_token_tooltip('template', '.ace_template-name', rgba(#80c, 0.07), rgba(#D2A8FF, 0.2));

// Parser Functions
// --------------------------------------------------------------------------------------------------------------
.ace_parserFn-color {
  color: #a11 !important;
}
.ace_parserFn-customVar {
  font-weight: bold;
}
.ace_parserFn-name {
  font-weight: bold;
}
.ace_parserFn-named-param {
  font-weight: bold;
}
.ace_parserFn-delimiter {
  font-weight: bold;
}

// Magic Variables
// --------------------------------------------------------------------------------------------------------------
.ace_wikitext.ace_magic-variable-color {
  color: #a11 !important;
}
.ace_wikitext.ace_magic-variable-name {
  font-weight: bold;
}
.ace_wikitext.ace_magic-variable-delimiter {
  font-weight: bold;
}

// Variables
// --------------------------------------------------------------------------------------------------------------
.ace_wikitext.ace_variable-color {
  color: #f50 !important;
}
.ace_wikitext.ace_variable-name {
  font-weight: bold;
}
.ace_wikitext.ace_variable-delimiter {
  font-weight: bold;
}

// Links
// --------------------------------------------------------------------------------------------------------------
.ace_link {
  background-color: rgba(34,17,153,0.04);
}
body.nightmode .ace_link {
  background-color: hsl(247deg 75% 93% / 6%);
}

.ace_link-color,
.ace_external-link-color,
.ace_bare-link-color,
.ace_magic-link-color {
  color: #327b9a;
}

body.nightmode .ace_link-color,
body.nightmode .ace_external-link-color,
body.nightmode .ace_bare-link-color,
body.nightmode .ace_magic-link-color {
  color: #e4c179;
}

@include ace_token_tooltip('link', '.ace_link-name', rgba(34,17,153,0.08), hsl(247deg 75% 93% / 12%));

// Bold and Italic
// --------------------------------------------------------------------------------------------------------------
.ace_bold-open,
.ace_italic-open,
.ace_bold-close,
.ace_italic-close {
  color: #08f;
  font-weight: normal !important;
  font-style: normal !important;
}

.ace_bold:not(.ace_bold-open):not(.ace_bold-close) {
  font-weight: bold;
}
.ace_italic:not(.ace_italic-open):not(.ace_italic-close) {
  font-style: italic;
}

// HTML tags
// --------------------------------------------------------------------------------------------------------------
.ace_tag, .ace_attribute-name, .ace_attribute-equals, .ace_attribute-value,
.ace_nowiki-open, .ace_nowiki-close,
.ace_pre-open, .ace_pre-close,
.ace_escape.ace_xml {
  color: #290 !important;
}

// Nowiki and Pre
// --------------------------------------------------------------------------------------------------------------
.ace_nowiki-text,
.ace_pre-text {
  background-color: rgba(0,0,0,0.04);
}

body.nightmode .ace_nowiki-text,
body.nightmode .ace_pre-text {
  background-color: rgba(255,255,255,0.04);
}

.ace_nowiki-text:only-child, .ace_pre-text:only-child {
  display: inline-block;
  width: 100%;
}

// Behavior Switch
// --------------------------------------------------------------------------------------------------------------
.ace_behavior-switch {
  font-weight: bold;
  color: #08f;
  background-color: rgba(0,0,0,0.15);
}
body.nightmode .ace_behavior-switch {
  background-color: rgba(255,255,255,0.15);
}

// Horizontal Rule and Signature
// --------------------------------------------------------------------------------------------------------------
.ace_hr,
.ace_signature {
  font-weight: bold;
  color: #08f;
  background-color: rgba(223,218,213);
}
body.nightmode .ace_hr,
body.nightmode .ace_signature {
  background-color: rgba(255,255,255,0.15);
}

// Bulleted/Numbered List Prefixes and Indents
// --------------------------------------------------------------------------------------------------------------
.ace_item-prefix {
  color: #08f;
}

// Bulleted/Numbered List Prefixes and Indents
// --------------------------------------------------------------------------------------------------------------
.ace_table-color {
  color: #e0e;
}

// Other Tooltips
// --------------------------------------------------------------------------------------------------------------
@include ace_token_tooltip('error');
@include ace_token_tooltip_styles('error') {
  color: red;
}
@include ace_token_tooltip_nightmode_styles('error') {
  color: #e39d9d;
  background: #6c1f1f;
  border-color: #e39d9d;
}