<% for (let id in searchResults) { %>
  <a role="button" class="secondary dispBlock spacer5-bottom textAlignLeft" href="/quests/<%= id %>">
    <strong>ID <%= id %>:&nbsp;</strong>
    <span><%= searchResults[id] %></span>
  </a>
<% } %>