<div role="tabpanel">
  <section class="card">
    <h2>Single Branch Dialogue Generator</h2>
    <div class="content">
      <p class="spacer10-bottom">Generate dialogue after a specific line within a single dialogue section. You can also enter a specific Talk ID or Dialogue ID.</p>
      <div class="field valign">
        <div class="valign grow" style="max-width:700px">
          <input class="dialogue-generate-input grow" type="text" placeholder="Enter dialogue line or part of a dialogue line." style="border-top-right-radius:0;border-bottom-right-radius:0;" />
          <div class="posRel">
            <input class="npc-filter-input" type="text" placeholder="NPC Filter (optional)" style="border-top-left-radius:0;border-bottom-left-radius:0;border-left:0;" />
            <span ui-tippy="{allowHTML: true, content: 'Filter by the speaker of the dialogue line to further narrow down the results (e.g. &quot;Paimon&quot;).<br><br>Enter in &quot;Player&quot; or &quot;Traveler&quot; for player lines/options.<br><br>This input is case insensitive and optional.',delay:[200, 100]}"
                  class="dispInlineBlock" style="height:18px;width:18px;position:absolute;right:5px;top:0;bottom:0;margin:auto 0;">
                  <%- icon('info',{width: 18, height:18}) %>
            </span>
          </div>
          <button class="dialogue-generate-submit primary primary--2 spacer5-left">Generate</button>
        </div>
        <div class="dialogue-generate-submit-pending hide loading small spacer5-left"></div>
      </div>
    </div>
  </section>
  <div id="dialogue-generate-result"></div>
</div>