
<section class="card">
  <h2>Saccharose.wiki<br><small>kwwxis's Genshin Wiki Tools</small></h2>
  <div class="content">
    <h4>Welcome</h4>
    <p>Check out the tools in the sidebar to the right to get started.</p>
  </div>
  <div class="content">
    <h4>Ideas and Bug Reports</h4>
    <p>If you have ideas for additional tools for this website or found any bugs, you can message the
      "Saccharose.wiki" editing forums post in the Wiki Discord.
      Or if you're one of the interwiki editors and aren't in the English wiki discord, you can ping or DM kwwxis#1145.</p>
  </div>
</section>
<section class="card">
  <h2>Changelog</h2>
  <div class="content">
    <ul>
      <li><strong>2022-12-31:</strong> Can now choose search mode in "Text Map Expansion", "Single Branch Dialogue", and "Reminder Dialogue" tools. Regex support included.</li>
      <li><strong>2022-12-21:</strong> Wikitext is now highlighted.</li>
      <li><strong>2022-12-21:</strong> Added "TCG Talk Detail" and "TCG Tutorial Text" lists.</li>
      <li><strong>2022-12-21:</strong> Added expand/collapse button to dialogue sections.</li>
      <li><strong>2022-12-15:</strong> OL generator tool now highlights different values for the same parameter key across multiple results for the same input.</li>
      <li><strong>2022-12-12:</strong> Internal improvements to "Single Branch Dialogue" tool.</li>
      <li><strong>2022-12-12:</strong> OL generator tool now shows text map IDs for results and can accept text map ID as input.</li>
      <li><strong>2022-12-09:</strong> Added "VO File to Dialogue" tool.</li>
      <li><strong>2022-12-09:</strong> Made UI somewhat better in mobile.</li>
      <li><strong>2022-12-04:</strong> Added IT/TR language support.</li>
      <li><strong>2022-12-04:</strong> Added favorite furnishing set names to Serenitea Pot Dialogue pages.</li>
      <li><strong>2022-12-04:</strong> Added quest rewards to quest pages.</li>
      <li><strong>2022-12-04:</strong> Added "Text Map Expansion" tool.</li>
      <li><strong>2022-12-04:</strong> Added "Chapters &amp; Acts" page.</li>
      <li><strong>2022-12-04:</strong> Reorganized Tools sidebar.</li>
      <li><strong>2022-12-04:</strong> Updated to Genshin 3.3 data.</li>
      <li><strong>2022-11-20:</strong> Fixed bug in Quest Dialogue Generator tool relating to unsectioned talk dialogues.</li>
      <li><strong>2022-11-20:</strong> Character story lists now include quest requirement info and altered stories when applicable.</li>
      <li><strong>2022-11-20:</strong> Serenitea Pot Dialogue now includes favorite furnishing set rewards.</li>
      <li><strong>2022-11-20:</strong> Refactored code and made the frontend code less sad and pathetic. Previously frontend code
      was JavaScript, and now it is TypeScript with Webpack.</li>
      <li><strong>2022-11-04:</strong> Added <code>_rm</code> options to OL generator. OL generator will also now remember your option selection on page revisit.</li>
      <li><strong>2022-10-31:</strong> Updated to Genshin 3.2 data.</li>
      <li><strong>2022-10-30:</strong> The character <code>·</code> is now replaced with <code>・</code> for CJK in OL tables</li>
      <li><strong>2022-10-30:</strong> Add cutscene subtitles, when applicable, to quest generation results.</li>
      <li><strong>2022-10-30:</strong> Add travel log summarization, when found, to quest generation results.</li>
      <li><strong>2022-10-13:</strong> Wiki VO support added to reminders.</li>
      <li><strong>2022-10-04:</strong> If a voiced dialogue line does not contain {{MC}} and has multiple VOs, then only the first VO {{A}} will be shown and the rest will be commented out.</li>
      <li><strong>2022-10-02:</strong> Added {{MC}} support to OL results.</li>
      <li><strong>2022-09-26:</strong> Updated to Genshin 3.1 data.</li>
      <li><strong>2022-09-24:</strong> Fixed bug with finding orphaned dialogue.</li>
      <li><strong>2022-09-19:</strong> Various UI improvements and clickable dialogue section metadata links.</li>
      <li><strong>2022-09-16:</strong> Various UI improvements.</li>
      <li><strong>2022-09-13:</strong> Wiki VO support for quest dialogue.</li>
      <li><strong>2022-09-05:</strong> Added support for multiple results to OL Generator tool.</li>
      <li><strong>2022-09-05:</strong> Added "NPC Dialogue Generator" tool.</li>
      <li><strong>2022-09-01:</strong> Fixed a caching issue that was showing results in the wrong language sometimes.</li>
      <li><strong>2022-08-30:</strong> Added "Reminder Dialogue Generator" tool and "All Reminder Dialogue" list.</li>
      <li><strong>2022-08-27:</strong> Added "Character Stories" and "Serenitea Pot Dialogue" lists</li>
      <li><strong>2022-08-25:</strong> Improvements to "Single Branch Dialogue Generator" tool.</li>
      <li><strong>2022-08-24:</strong> Various bug fixes.</li>
      <li><strong>2022-08-23:</strong> Made improvements to how Next Talks are handled in the "Quest Dialogue Generator" tool.</li>
      <li><strong>2022-08-23:</strong> Fixed various bugs.</li>
      <li><strong>2022-08-22:</strong> Updated to Genshin 3.0 data.</li>
      <li><strong>2022-08-22:</strong> Added "Single Branch Dialogue Generator" tool.</li>
      <li><strong>2022-08-21:</strong> Some improvements to "Quest Dialogue Generator" tool.</li>
      <li><strong>2022-08-03:</strong> Added light/dark mode buttons to header<br><small>(Dark mode will not persist if browser cookies are disabled)</small></li>
      <li><strong>2022-08-01:</strong> Added "Quest Dialogue Generator" tool</li>
      <li><strong>2022-07-31:</strong> Added OL Generator tool</li>
    </ul>
  </div>
</section>