<div role="tabpanel">
  <section class="card">
    <h2>NPC Dialogue Generator</h2>
    <div class="content">
      <p class="spacer10-bottom">Generate dialogue for a specific NPC. You can also enter a specific NPC ID.</p>
      <div class="field valign">
        <div class="valign grow" style="max-width:700px">
          <input class="dialogue-generate-input grow" type="text" placeholder="Enter the exact name of an NPC (case insensitive)" style="border-top-right-radius:0;border-bottom-right-radius:0;" />
          <button class="dialogue-generate-submit primary primary--2 spacer5-left">Generate</button>
        </div>
        <div class="dialogue-generate-submit-pending hide loading small spacer5-left"></div>
      </div>
      <hr class="spacer10-top spacer10-bottom">
      <ul style="font-size:14.5px;line-height:20px;">
        <li>If you can't find the dialogue you're looking for, try entering part of the first line of the dialogue (if you have it) into the "Single Branch Dialogue Generator" tool.</li>
        <li>It may not find results if the NPC is disguised as "???"</li>
        <li>Try the other tools if you can't find the dialogue you're looking for.</li>
        <li>You may get multiple NPC results with different IDs but the same name. This is generally the same "person" but in the different conditions/situations/quest states. In other cases, it might actually be different people with the same name &mdash; there's an "Iris" in Dragonspine and an "Iris" in Sumeru, for example.</li>
      </ul>
    </div>
  </section>
  <div id="dialogue-generate-result"></div>
</div>