
.hide,
html body .hide {
  display: none !important;
}
.lunr-hide,
html body .lunr-hide {
  display: none !important;
}
.visHide {
  visibility: hidden !important;
}
.active .inactive-only {
  display: none;
}

.active-only {
  display: none;
}
.active .active-only {
  display: initial;
}