img.x16 { width: 16px; height: 16px; }
img.x18 { width: 18px; height: 18px; }
img.x20 { width: 20px; height: 20px; }
img.x22 { width: 22px; height: 22px; }
img.x24 { width: 24px; height: 24px; }
img.x26 { width: 26px; height: 26px; }
img.x28 { width: 28px; height: 28px; }
img.x30 { width: 30px; height: 30px; }
img.x32 { width: 32px; height: 32px; }
img.x34 { width: 34px; height: 34px; }
img.x36 { width: 36px; height: 36px; }
img.x38 { width: 38px; height: 38px; }
img.x40 { width: 40px; height: 40px; }
img.x42 { width: 42px; height: 42px; }
img.x44 { width: 44px; height: 44px; }
img.x46 { width: 46px; height: 46px; }
img.x48 { width: 48px; height: 48px; }
img.x50 { width: 48px; height: 50px; }
img.x64 { width: 64px; height: 64px; }
img.x96 { width: 96px; height: 96px; }
img.x128 { width: 128px; height: 128px; }