
.spacer0,
.spacer0-vert { margin-top: 0 !important; margin-bottom: 0 !important; }
.spacer0-horiz { margin-left: 0 !important; margin-right: 0 !important; }
.spacer0-all { margin: 0 !important; }
.spacer0-top { margin-top: 0 !important; }
.spacer0-bottom { margin-bottom: 0 !important; }
.spacer0-left { margin-left: 0 !important; }
.spacer0-right { margin-right: 0 !important; }

.spacer10,
.spacer10-vert { margin-top: 10px !important; margin-bottom: 10px !important; }
.spacer10-horiz { margin-left: 10px !important; margin-right: 10px !important; }
.spacer10-all { margin: 10px !important; }
.spacer10-top { margin-top: 10px !important; }
.spacer10-bottom { margin-bottom: 10px !important; }
.spacer10-left { margin-left: 10px !important; }
.spacer10-right { margin-right: 10px !important; }


.spacer15,
.spacer15-vert { margin-top: 15px !important; margin-bottom: 15px !important; }
.spacer15-horiz { margin-left: 15px !important; margin-right: 15px !important; }
.spacer15-all { margin: 15px !important; }
.spacer15-top { margin-top: 15px !important; }
.spacer15-bottom { margin-bottom: 15px !important; }
.spacer15-left { margin-left: 15px !important; }
.spacer15-right { margin-right: 15px !important; }

.spacer25,
.spacer25-vert { margin-top: 25px !important; margin-bottom: 25px !important; }
.spacer25-horiz { margin-left: 25px !important; margin-right: 25px !important; }
.spacer25-all { margin: 25px !important; }
.spacer25-top { margin-top: 25px !important; }
.spacer25-bottom { margin-bottom: 25px !important; }
.spacer25-left { margin-left: 25px !important; }
.spacer25-right { margin-right: 25px !important; }

.spacer5,
.spacer5-vert { margin-top: 5px !important; margin-bottom: 5px !important; }
.spacer5-horiz { margin-left: 5px !important; margin-right: 5px !important; }
.spacer5-all { margin: 5px !important; }
.spacer5-top { margin-top: 5px !important; }
.spacer5-bottom { margin-bottom: 5px !important; }
.spacer5-left { margin-left: 5px !important; }
.spacer5-right { margin-right: 5px !important; }

.spacer3,
.spacer3-vert {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.spacer3-horiz {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.spacer3-all {
  margin: 3px !important;
}
.spacer3-top {
  margin-top: 3px !important;
}
.spacer3-bottom {
  margin-bottom: 3px !important;
}
.spacer3-left {
  margin-left: 3px !important;
}
.spacer3-right {
  margin-right: 3px !important;
}

.spacer20,
.spacer20-vert {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.spacer20-horiz {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.spacer20-all {
  margin: 20px !important;
}
.spacer20-top {
  margin-top: 20px !important;
}
.spacer20-bottom {
  margin-bottom: 20px !important;
}
.spacer20-left {
  margin-left: 20px !important;
}
.spacer20-right {
  margin-right: 20px !important;
}