
.textAlignLeft {
  text-align: left !important;
}
.textAlignRight {
  text-align: right !important;
}
.textAlignCenter {
  text-align: center !important;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}


.fontWeight100 {
  font-weight: 100;
}
.fontWeight200 {
  font-weight: 200;
}
.fontWeight300 {
  font-weight: 300;
}
.fontWeight400 {
  font-weight: 400;
}
.fontWeight500 {
  font-weight: 500;
}
.fontWeight600 {
  font-weight: 600;
}
.fontWeight700 {
  font-weight: 700;
}

.fontSize10 {
  font-size: 10px;
}
.fontSize11 {
  font-size: 11px;
}
.fontSize12 {
  font-size: 12px;
}
.fontSize13 {
  font-size: 13px;
}
.fontSize14 {
  font-size: 14px;
}
.fontSize15 {
  font-size: 15px;
}
.fontSize16 {
  font-size: 16px;
}
.fontSize17 {
  font-size: 17px;
}
.fontSize18 {
  font-size: 18px;
}
.fontSize19 {
  font-size: 19px;
}

.fontItalic {
  font-style: italic;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.empty-dash:empty:before {
  content: '\2014';
  opacity: 0.8;
}
