<% if (inDialogueReadables && Object.keys(inDialogueReadables).length) { %>
  <section class="card">
    <h2>In-Dialogue Readables</h2>
    <% for (let [mainQuestId, readables] of Object.entries(inDialogueReadables)) { %>
      <h3><%= inDialogueReadablesMainQuestNames[mainQuestId] || '(Non-quest)' %></h3>
      <div class="content">
        <% for (let readable of readables) { %>
          <%- use('partials/genshin/archive/readable-link', { readable }) %>
        <% } %>
        <div class="alignStart flexWrap">
          <% for (let readable of readables) { %>
            <% for (let item of readable.Items) { %>
              <% if (item.ReadableImages && item.ReadableImages.length) { %>
                <% for (let image of item.ReadableImages) { %>
                  <div class="w25p">
                    <div class="image-frame spacer3-all bordered">
                      <img src="/images/genshin/<%= image %>.png" class="w100p" />
                      <span class="image-label"><%= image %></span>
                    </div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %>
  </section>
<% } %>
