<div class="dialogue-container">
  <% sections.forEach(section => { %>
    <section class="card">
      <h2>Match ID: <strong><%= section.id %></strong></h2>
      <div class="content">
        <%- include('partials/genshin/dialogue/dialogue-section', section) %>
      </div>
    </section>
  <% }) %>
  <% if (!sections.length) { %>
    <section class="card">
      <div class="content">
        <strong>Dialogue not found.</strong>
        <p class="spacer5-bottom">Suggestions:</p>
        <ul>
          <li>Make sure you typed it correctly.</li>
          <li>If it's an autoplaying overworld line, it may be in <a href="/reminders?q=<%= query %>" target="_blank">ReminderExcelConfigData</a></li>
          <li>Try <a href="/textmap?q=<%= query %>" target="_blank">TextMap Search</a> as well.</li>
        </ul>
      </div>
    </section>
  <% } %>
</div>