/* #region Reset */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-size: 17px;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section,
footer,
header,
aside,
nav {
  display: block;
}

a {
  color: hsl(220, 61%, 50%);
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  outline: 0 none;
}

textarea,
select,
input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='time'],
input[type='date'] {
  border: 1px solid hsla(232, 20%, 32%, 0.25);
  border-radius: 3px;
  box-sizing: border-box;
  background: #fff;
}

textarea:hover,
textarea:focus,
select:hover,
select:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='password']:hover,
input[type='password']:focus,
input[type='search']:hover,
input[type='search']:focus,
input[type='email']:hover,
input[type='email']:focus,
input[type='url']:hover,
input[type='url']:focus,
input[type='number']:hover,
input[type='number']:focus,
input[type='time']:hover,
input[type='time']:focus,
input[type='date']:hover,
input[type='date']:focus {
  border: 1px solid hsla(232, 20%, 32%, 0.4);
}

textarea:focus,
select:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='number']:focus,
input[type='time']:focus,
input[type='date']:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 140, 221, 0.2);
  border-color: #3daaf5;
}

input.error, textarea.error, select.error {
  border-color: rgba(230, 69, 72, 0.5) !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  textarea,
  select,
  hr,
  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='email'],
  input[type='url'],
  input[type='number'],
  input[type='time'],
  input[type='date'],
  .thin-border,
  .card > h2,
  textarea:hover,
  select:hover,
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='search']:hover,
  input[type='email']:hover,
  input[type='url']:hover,
  input[type='number']:hover,
  input[type='time']:hover,
  input[type='date']:hover,
  .thin-border:hover,
  textarea:focus,
  select:focus,
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='email']:focus,
  input[type='url']:focus,
  input[type='number']:focus,
  input[type='time']:focus,
  input[type='date']:focus,
  .thin-border:focus {
    border-width: 0.5px !important;
  }
}

input[type='number'] {
  padding-right: 0 !important;
}
/* #endregion */

/* #region Helpers */
.fl {
  float: left;
}
.flC > * {
  float: left;
}
.fr {
  float: right;
}
.frC > * {
  float: right;
}

.w100p {
  width: 100%;
}
.w95p {
  width: 95%;
}
.w90p {
  width: 90%;
}
.w85p {
  width: 85%;
}
.w80p {
  width: 80%;
}
.w75p {
  width: 75%;
}
.w70p {
  width: 70%;
}
.w65p {
  width: 65%;
}
.w60p {
  width: 60%;
}
.w55p {
  width: 55%;
}
.w50p {
  width: 50%;
}
.w45p {
  width: 45%;
}
.w40p {
  width: 40%;
}
.w37p {
  width: 37.5%;
}
.w35p {
  width: 35%;
}
.w33p {
  width: 33.3333%;
}
.w30p {
  width: 30%;
}
.w25p {
  width: 25%;
}
.w20p {
  width: 20%;
}
.w15p {
  width: 15%;
}
.w10p {
  width: 10%;
}
.w0p,
.w0 {
  width: 0;
}

.f100p {
  flex-basis: 100%;
}
.f95p {
  flex-basis: 95%;
}
.f90p {
  flex-basis: 90%;
}
.f85p {
  flex-basis: 85%;
}
.f80p {
  flex-basis: 80%;
}
.f75p {
  flex-basis: 75%;
}
.f70p {
  flex-basis: 70%;
}
.f65p {
  flex-basis: 65%;
}
.f60p {
  flex-basis: 60%;
}
.f55p {
  flex-basis: 55%;
}
.f50p {
  flex-basis: 50%;
}
.f45p {
  flex-basis: 45%;
}
.f40p {
  flex-basis: 40%;
}
.f37p {
  flex-basis: 37.5%;
}
.f35p {
  flex-basis: 35%;
}
.f33p {
  flex-basis: 33.3333%;
}
.f30p {
  flex-basis: 30%;
}
.f25p {
  flex-basis: 25%;
}
.f20p {
  flex-basis: 20%;
}
.f15p {
  flex-basis: 15%;
}
.f10p {
  flex-basis: 10%;
}
.f0p,
.f0 {
  flex-basis: 0;
}

.h100p {
  height: 100%;
}
.h50p {
  height: 50%;
}
.h0p,
.h0 {
  height: 0;
}

.wSplit2 > * {
  width: 50%;
}
.wSplit3 > * {
  width: 33.33%;
}
.wSplit4 > * {
  width: 25%;
}
.wSplit5 > * {
  width: 20%;
}
.wSplit6 > * {
  width: 16.66%;
}
.wSplit7 > * {
  width: 14.28%;
}
.wSplit8 > * {
  width: 12.5%;
}
.wSplit9 > * {
  width: 11.11%;
}
.wSplit10 > * {
  width: 10%;
}
.wSplit11 > * {
  width: 9.09%;
}
.wSplit12 > * {
  width: 8.33%;
}
.wSplit13 > * {
  width: 7.69%;
}
.wSplit14 > * {
  width: 7.14%;
}
.wSplit15 > * {
  width: 6.66%;
}
.wSplit16 > * {
  width: 6.25%;
}
.wSplit17 > * {
  width: 5.88%;
}
.wSplit18 > * {
  width: 5.55%;
}
.wSplit19 > * {
  width: 5.26%;
}
.wSplit20 > * {
  width: 5%;
}

.fsplit {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.fsplit2 > * {
  flex-basis: 50%;
}
.fsplit3 > * {
  flex-basis: 33.33%;
}
.fsplit4 > * {
  flex-basis: 25%;
}
.fsplit5 > * {
  flex-basis: 20%;
}
.fsplit6 > * {
  flex-basis: 16.66%;
}
.fsplit7 > * {
  flex-basis: 14.28%;
}
.fsplit8 > * {
  flex-basis: 12.5%;
}
.fsplit9 > * {
  flex-basis: 11.11%;
}
.fsplit10 > * {
  flex-basis: 10%;
}
.fsplit11 > * {
  flex-basis: 9.09%;
}
.fsplit12 > * {
  flex-basis: 8.33%;
}
.fsplit13 > * {
  flex-basis: 7.69%;
}
.fsplit14 > * {
  flex-basis: 7.14%;
}
.fsplit15 > * {
  flex-basis: 6.66%;
}
.fsplit16 > * {
  flex-basis: 6.25%;
}
.fsplit17 > * {
  flex-basis: 5.88%;
}
.fsplit18 > * {
  flex-basis: 5.55%;
}
.fsplit19 > * {
  flex-basis: 5.26%;
}
.fsplit20 > * {
  flex-basis: 5%;
}

.js-error-notice {
  background: red;
  color: #fff;
  padding: 5px;
  text-align: center;
}

@-webkit-keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid hsla(204, 90%, 60%, 0.3);
  border-top-color: #3daaf5;
  -webkit-animation: loading-spin 1s infinite linear;
  animation: loading-spin 1s infinite linear;
  flex-shrink: 0 !important;
}
.loading.small {
  width: 12px;
  height: 12px;
}
.loading.xsmall,
.loading.x-small {
  width: 8px;
  height: 8px;
}

.valign {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}
.talign {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
}
.balign {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: flex-end !important;
  align-items: flex-end !important;
}
.alignStretch {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: stretch !important;
  align-items: stretch !important;
}

.calign {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.halign {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}

.grow {
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
}

.template {
  display: none !important;
}

.dispBlock {
  display: block !important;
}
.dispInline {
  display: inline !important;
}
.dispInlineBlock {
  display: inline-block !important;
}
.dispFlex {
  display: -webkit-flex !important;
  display: flex !important;
}
.dispInlineFlex {
  display: inline-flex !important;
}
.flexWrap {
  flex-wrap: wrap !important;
}

.posStatic {
  position: static !important;
}
.posRel {
  position: relative !important;
}
.posAbs {
  position: absolute !important;
}
.posFixed {
  position: fixed !important;
}

.centerHoriz {
  margin: 0 auto;
}
.centerVert {
  margin: auto 0;
}
.centerBoth {
  margin: auto;
}

.textAlignLeft {
  text-align: left !important;
}
.textAlignRight {
  text-align: right !important;
}
.textAlignCenter {
  text-align: center !important;
}
.fontWeight100 {
  font-weight: 100;
}
.fontWeight200 {
  font-weight: 200;
}
.fontWeight300 {
  font-weight: 300;
}
.fontWeight400 {
  font-weight: 400;
}
.fontWeight500 {
  font-weight: 500;
}
.fontWeight600 {
  font-weight: 600;
}
.fontWeight700 {
  font-weight: 700;
}

.fontItalic {
  font-style: italic;
}

.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.clearfix:after,
.cf:after {
  clear: both;
}
.clearfix,
.cf {
  zoom: 1;
}
.hide {
  display: none !important;
}
.visHide {
  visibility: hidden !important;
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
}
.full-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opacity5p {
  opacity: 0.05;
}
.opacity10p {
  opacity: 0.1;
}
.opacity15p {
  opacity: 0.15;
}
.opacity20p {
  opacity: 0.2;
}
.opacity25p {
  opacity: 0.25;
}
.opacity30p {
  opacity: 0.3;
}
.opacity35p {
  opacity: 0.35;
}
.opacity40p {
  opacity: 0.4;
}
.opacity45p {
  opacity: 0.45;
}
.opacity50p {
  opacity: 0.5;
}
.opacity55p {
  opacity: 0.55;
}
.opacity60p {
  opacity: 0.6;
}
.opacity65p {
  opacity: 0.65;
}
.opacity70p {
  opacity: 0.7;
}
.opacity75p {
  opacity: 0.75;
}
.opacity80p {
  opacity: 0.8;
}
.opacity85p {
  opacity: 0.85;
}
.opacity90p {
  opacity: 0.9;
}
.opacity95p {
  opacity: 0.95;
}
.opacity100p {
  opacity: 1;
}

.spacer,
.spacer-vert {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.spacer-horiz {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.spacer-all {
  margin: 15px !important;
}
.spacer-top {
  margin-top: 15px !important;
}
.spacer-bottom {
  margin-bottom: 15px !important;
}
.spacer-left {
  margin-left: 15px !important;
}
.spacer-right {
  margin-right: 15px !important;
}

.spacer10,
.spacer10-vert { margin-top: 10px !important; margin-bottom: 10px !important; }
.spacer10-horiz { margin-left: 10px !important; margin-right: 10px !important; }
.spacer10-all { margin: 10px !important; }
.spacer10-top { margin-top: 10px !important; }
.spacer10-bottom { margin-bottom: 10px !important; }
.spacer10-left { margin-left: 10px !important; }
.spacer10-right { margin-right: 10px !important; }


.spacer15,
.spacer15-vert { margin-top: 15px !important; margin-bottom: 15px !important; }
.spacer15-horiz { margin-left: 15px !important; margin-right: 15px !important; }
.spacer15-all { margin: 15px !important; }
.spacer15-top { margin-top: 15px !important; }
.spacer15-bottom { margin-bottom: 15px !important; }
.spacer15-left { margin-left: 15px !important; }
.spacer15-right { margin-right: 15px !important; }

.spacer25,
.spacer25-vert { margin-top: 25px !important; margin-bottom: 25px !important; }
.spacer25-horiz { margin-left: 25px !important; margin-right: 25px !important; }
.spacer25-all { margin: 25px !important; }
.spacer25-top { margin-top: 25px !important; }
.spacer25-bottom { margin-bottom: 25px !important; }
.spacer25-left { margin-left: 25px !important; }
.spacer25-right { margin-right: 25px !important; }

.spacer5,
.spacer5-vert {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.spacer5-horiz {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.spacer5-all {
  margin: 5px !important;
}
.spacer5-top {
  margin-top: 5px !important;
}
.spacer5-bottom {
  margin-bottom: 5px !important;
}
.spacer5-left {
  margin-left: 5px !important;
}
.spacer5-right {
  margin-right: 5px !important;
}

.spacer3,
.spacer3-vert {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.spacer3-horiz {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.spacer3-all {
  margin: 3px !important;
}
.spacer3-top {
  margin-top: 3px !important;
}
.spacer3-bottom {
  margin-bottom: 3px !important;
}
.spacer3-left {
  margin-left: 3px !important;
}
.spacer3-right {
  margin-right: 3px !important;
}

.spacer20,
.spacer20-vert {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.spacer20-horiz {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.spacer20-all {
  margin: 20px !important;
}
.spacer20-top {
  margin-top: 20px !important;
}
.spacer20-bottom {
  margin-bottom: 20px !important;
}
.spacer20-left {
  margin-left: 20px !important;
}
.spacer20-right {
  margin-right: 20px !important;
}

.flash {
  animation: flash 1s ease-out;
}
body.nightmode .flash {
  animation: nightmode-flash 1s ease-out;
}


@keyframes flash {
  0% {
    background: transparent;
  }
  20% {
    background: #ffc;
  }
}

@keyframes nightmode-flash {
  0% {
    background: transparent;
  }
  20% {
    background: hsl(57deg 9% 19%);
  }
}

@keyframes nightmode-flash-textfield {
  0% {
    background: hsl(255deg 8% 22%);
  }
  20% {
    background: hsl(57deg 9% 19%);
  }
}

body:not(.nightmode) .flash textarea, body:not(.nightmode) .flash select,
body:not(.nightmode) .flash input[type='text'], body:not(.nightmode) .flash input[type='password'], body:not(.nightmode) .flash input[type='search'], body:not(.nightmode) .flash input[type='email'],
body:not(.nightmode) .flash input[type='url'], body:not(.nightmode) .flash input[type='number'], body:not(.nightmode) .flash input[type='time'], body:not(.nightmode) .flash input[type='date'] {
  background: transparent !important;
}

body.nightmode .flash textarea, body.nightmode .flash select,
body.nightmode .flash input[type='text'], body.nightmode .flash input[type='password'], body.nightmode .flash input[type='search'], body.nightmode .flash input[type='email'],
body.nightmode .flash input[type='url'], body.nightmode .flash input[type='number'], body.nightmode .flash input[type='time'], body.nightmode .flash input[type='date'] {
  animation: nightmode-flash-textfield 1s ease-out;
}

.hard-flash {
  animation: hard-flash 500ms ease-out;
}

@keyframes hard-flash {
  0% {
    background: transparent;
  }
  20% {
    background: red;
  }
}

.hard-flash textarea, .hard-flash select,
.hard-flash input[type='text'], .hard-flash input[type='password'], .hard-flash input[type='search'], .hard-flash input[type='email'],
.hard-flash input[type='url'], .hard-flash input[type='number'], .hard-flash input[type='time'], .hard-flash input[type='date'] {
  background: transparent !important;
}

code,
.code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

textarea.code {
  resize: vertical;
  border-color: #ccc;
  padding: 3px;
  box-sizing: border-box;
}

.active .inactive-only {
  display: none;
}

.active-only {
  display: none;
}
.active .active-only {
  display: initial;
}
/* #endregion */

/* #region Wrappers */
body {
  background: #f6f4fc;
  background: hsl(240, 50%, 97%);
  color: #0f214d;
}

.error-box {
  max-width: 400px;
  margin: 80px;
}

.error-box p {
  line-height: 24px;
  margin-top: 10px;
}

.error-box hr {
  margin: 10px 0;
  border-color: hsla(223, 67%, 18%, 0.15);
}

.error-box h1 {
  opacity: 0.5;
  font-size: 30px;
}
.error-box h2 {
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

/* #endregion */

/* #region Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid hsla(223, 67%, 18%, 0.3);
  background: #fff;
}

#header #site-title {
  text-decoration: none;
  margin: 0 10px;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

#site-logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 52px;
  background: #eaeffb;
}
#site-logo-fg {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  width: 80px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .left,
#header .right {
  display: flex;
  align-items: center;
}

#header .toggle-theme-buttons {
  margin-right: 10px;
}

.header-language-selector {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-right: 10px;
}
.header-language-selector strong {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}
.header-language-selector select {
  padding: 3px;
}
.output-language-selector {
  margin-right: 20px;
}
/* #endregion */

/* #region UI-Radio */
.ui-radio,
.ui-checkbox {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 3px 10px;
  position: relative;
  overflow: hidden;
}

.ui-radio:hover,
.ui-checkbox:hover {
  background: #f7f9fb;
}

.ui-radio input,
.ui-checkbox input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.ui-radio input + *,
.ui-checkbox input + * {
  padding-left: 1.8em;
  color: hsla(232, 20%, 32%, 0.8);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  position: relative;
}

.ui-radio input + *:before,
.ui-checkbox input + *:before {
  content: '';
  display: inline-table;
  width: 1em;
  height: 1em;
  max-width: 1em;
  max-height: 1em;
  box-sizing: border-box;
  border: 0.5px solid hsla(232, 20%, 32%, 0.3);
  box-shadow: 0 0 5px hsla(232, 20%, 32%, 0.3);
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui-radio:hover input:not(:checked):not(:focus):not(:indeterminate):not(.indeterminate):not(.is--indeterminate) + *:before,
.ui-checkbox:hover input:not(:checked):not(:focus):not(:indeterminate):not(.indeterminate):not(.is--indeterminate) + *:before {
  border-color: hsla(232, 20%, 32%, 0.4);
}

.ui-radio input + *:before {
  border-radius: 50%;
}

.ui-checkbox input:checked + *:before {
  border-color: #3daaf5;
  background: linear-gradient(#3daaf5, #3daaf5) center center / 0.6em 0.6em;
  background-repeat: no-repeat;
}

.ui-radio input:checked + *:before {
  border-color: #3daaf5;
  background: radial-gradient(
    0.6em 0.6em at center center,
    #3daaf5 49%,
    hsla(204, 90%, 60%, 0.5) 50%,
    #fff 55%
  );
  background-repeat: no-repeat;
}

.ui-radio input:focus + *:before,
.ui-checkbox input:focus + *:before {
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2);
  border-color: #3daaf5;
}


.ui-checkbox input:indeterminate + *:before,
.ui-checkbox input:checked:indeterminate + *:before,
.ui-checkbox input.is--indeterminate + *:before,
.ui-checkbox input.is--indeterminate:checked + *:before,
.ui-checkbox input.indeterminate + *:before,
.ui-checkbox input.indeterminate:checked + *:before {
  border-color: #3daaf5;
  background-color: #fff;
  background: linear-gradient(#fff, #fff) center center / 0.35em 0.15em,
    linear-gradient(hsla(204, 90%, 60%, 0.85), hsla(204, 90%, 60%, 0.85)) center center / 0.6em 0.6em;
  background-repeat: no-repeat;
}
/* #endregion */

/* #region Close Icon */
.close {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.close.smaller {
  width: 8px;
  height: 8px;
}
.close.small {
  width: 16px;
  height: 16px;
}
.close.medium {
  width: 20px;
  height: 20px;
}
.close.xmedium {
  width: 28px;
  height: 28px;
}
.close.large {
  width: 32px;
  height: 32px;
}
.close.xlarge {
  width: 40px;
  height: 40px;
}

.close:before,
.close:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background: #333;
}
.close.w2:before, .close.w2:after {
  height: 2px;
}
.close.w3:before, .close.w3:after {
  height: 3px;
}
.close:before {
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button.close,
button.close:hover {
  border: 0;
  padding: 0;
  background: transparent;
}

.close:focus:before, .close:focus:after {
  background: #3daaf5;
  opacity: 1 !important ;
}

.close:focus{
  opacity: 1 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2);
}
/* #endregion */

/* #region Other */
.credit p:first-child {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  margin: 0;
}

.credit p:last-child {
  font-size: 14px;
  margin: 0 !important;
  margin-left: 13px !important;
}

.credit,
.credit p {
  line-height: 18px !important;
}

body > .content {
  padding: 0;
  min-height: calc(100vh - 52px);
}

body > footer {
  border-top: 0.5px solid hsla(223, 67%, 18%, 0.3);
  background: #fff;
  padding: 0 10px;
}

footer .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer a {
  color: hsl(220, 61%, 50%);
  text-decoration: none;
}

.footer-links {
  margin-left: 30px;
}

.footer-links a {
  text-decoration: none;
  background: hsla(210, 14%, 96%, 1);
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 15px;
  color: hsl(220, 61%, 60%);
}
.footer-links a:hover {
  background: hsla(210, 14%, 93%, 1);
}
/* #endregion */

/* #region Nightmode */
body.nightmode {
  background: hsla(255, 18%, 10%, 1);
  color: hsl(255deg 5% 73%);
}
body.nightmode a {
  color: #0d96f2;
}

body.nightmode .card {
  background: hsl(255deg 13% 14%);
  box-shadow: 0 1px 2px rgb(174 180 193 / 25%);
}

body.nightmode .card > h2:first-child {
  border-bottom-color: hsl(255deg 13% 25%);
}

body.nightmode #header {
  background: hsl(255deg 13% 14%);
}

body.nightmode #site-logo-bg {
  background: hsl(255deg 13% 18%);
}

body.nightmode button.secondary,
body.nightmode [role='button'].secondary,
body.nightmode .secondary-label {
  background: hsl(255deg 10% 18%);
  color: hsl(255deg 5% 73%);
}
body.nightmode button.secondary:hover,
body.nightmode [role='button'].secondary:hover,
body.nightmode .secondary-label:hover {
  color: hsl(255deg 5% 73%);
  background: hsl(255deg 10% 22%);
}

body.nightmode button.secondary.selected,
body.nightmode [role=button].secondary.selected {
  background: hsl(255deg 10% 24%);
}

body.nightmode textarea,
body.nightmode select,
body.nightmode input[type='text'], body.nightmode input[type='password'], body.nightmode input[type='search'], body.nightmode input[type='email'],
body.nightmode input[type='url'], body.nightmode input[type='number'], body.nightmode input[type='time'], body.nightmode input[type='date'] {
  background: hsl(255deg 8% 22%);
  color: hsl(255deg 5% 73%);
  border-color: hsla(232, 20%, 60%, 0.25);
}

body.nightmode textarea:focus,
body.nightmode select:focus,
body.nightmode input[type='text']:focus,
body.nightmode input[type='password']:focus,
body.nightmode input[type='search']:focus,
body.nightmode input[type='email']:focus,
body.nightmode input[type='url']:focus,
body.nightmode input[type='number']:focus,
body.nightmode input[type='time']:focus, input[type='date']:focus {
  box-shadow: 0 0 0 2px rgb(0 140 221 / 20%);
  box-shadow: none;
  border-color: hsl(204deg 90% 32%);
}


body.nightmode .tab-list {
  background: hsl(255deg 8% 8%);
}

body.nightmode .tab-list button {
  background: hsl(255deg 8% 14%);
  color: #fff;
}
body.nightmode .tab-list button.active {
  background: hsl(255deg 8% 22%);
  color: #fff;
}

body .tab-list:after {
  background: hsl(255deg 8% 22%);
}

body.nightmode .ui-radio input + *,
body.nightmode .ui-checkbox input + * {
  color: hsl(255deg 5% 73%);
}

body.nightmode .ui-radio:hover,
body.nightmode .ui-checkbox:hover {
  background: hsl(255deg 12% 16%);
}

body.nightmode .form-box fieldset {
  border-color: hsl(255deg 13% 25%);
}

body.nightmode .card hr {
  border-bottom-color: hsl(255deg 13% 25%);
}

body.nightmode .card > h2 {
  border-bottom-color: hsl(255deg 13% 25%);
}
body.nightmode .card > h2:not(:first-child) {
  border-top-color: hsl(255deg 13% 25%);
}
body.nightmode > footer {
  background: hsl(255deg 13% 14%);
  color: hsl(255deg 5% 73%);
  border-top-color: hsl(255deg 13% 25%);
}

body.nightmode .credit p:first-child {
  color: hsl(255deg 5% 73%);
}
body.nightmode .footer-links a {
  background: hsl(255deg 8% 20%);
  color: hsl(255deg 5% 73%);
}

body.nightmode .AppDialog {
  background: hsl(255deg 13% 14%);
  box-shadow: 0 10px 100px rgb(255 255 255 / 10%), 0 0px 1px rgb(255 255 255 / 10%), 0 1px 25px rgb(255 255 255 / 5%);
}

body.nightmode .tippy-tooltip {
  background-color: hsl(255deg 12% 20%);
  border: 1px solid hsl(255deg 13% 42%);
}
/* #endregion */