<section id="app-sidebar__header" class="card">
  <h2 class="valign" style="padding:6px 10px">
    <img src="/images/March_7th_Sticker_1.png" style="width:28px;height:auto" />
    <span class="spacer10-left" style="
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      opacity: 0.5;">Honkai Star Rail</span>
  </h2>
</section>
<section id="app-sidebar__basic" class="card">
  <h2>Basic Tools</h2>
  <div class="content">
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--textmap', 'selected') %>" role="button" href="/hsr/textmap">TextMap Search</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--OL', 'selected') %>" role="button" href="/hsr/OL">Other Languages Generator</a>
    <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--id-usages', 'selected') %>" role="button" href="/hsr/id-usages">ID Usages</a>
  </div>
</section>