#media-catList {
  padding: 10px;
}
.media-cat .expando {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 18px;
    height: 18px;
  }
}
.media-cat-content {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #eee;
  body.nightmode & {
    border-color: rgba(255,255,255,0.12);
  }
}

.media-image-load-zone {
  min-height: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -5px;
}

.media-image {
  padding: 5px;

  .image-frame {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &.no-max-width {
      .image-obj {
        width: auto;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .image-label {
        width: auto;
      }
    }

    .image-obj {
      display: inline-flex;
      position: relative;
      justify-content: center;
      width: 150px;
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA1SURBVDhPY9y/f/9/BjzAwcEBysIOmKA02WDUgMFgAON/IICysYIDBw5AWdjBaCAOAwMYGACl4ApXGpjuLwAAAABJRU5ErkJggg==) repeat;
      }
      img {
        position: relative;
        z-index: 1;
        max-width: 150px;
        max-height: 150px;
      }
    }

    .image-label {
      font-size: 12.5px;
      word-wrap: break-word;
      overflow: hidden;
      display: block;
      line-height: 1.4em;
      text-decoration: none;
      padding: 0 5px;
      width: 150px;
      &:hover {
        text-decoration: underline;
      }
    }

    .image-sublabel {
      font-size: 12px;
      word-wrap: break-word;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      line-height: 1.4em;
      text-decoration: none;
      padding: 0 5px;
      width: 150px;
    }

    .image-toprightlabel {
      position: absolute;
      top: 0;
      right: 0;
      background: #eee;
      line-height: 1.5;
      font-size: 13px;
      padding: 0 3px;
      border-bottom: 1px solid #bbb;
      border-left: 1px solid #bbb;
      z-index: 5;

      body.nightmode & {
        background: #424048;
        border-bottom: 1px solid #98979b;
        border-left: 1px solid #98979b;
      }
    }
  }
}
