
<section class="card">
  <h2>All Reminder Dialogue</h2>
  <div class="content">
    <div class="dialogue-container">
      <%- use('partials/genshin/dialogue/dialogue-section', dialogue) %>
    </div>
  </div>
</section>