
<section class="card">
  <h2>kwwxis's genshin wiki tools</h2>
  <div class="content">
    <h4>Welcome</h4>
    <p>Check out the tools in the sidebar to the right to get started.</p>
  </div>
  <div class="content">
    <h4>Terms of Use</h4>
    <p>This utility uses datamined info and may potentially contain unreleased quests and information.
      Be careful not to add unreleased content to the wiki. By using this website you agree that kwwxis
      is not responsible if you get bonked.
    </p>
  </div>
</section>
<section class="card">
  <h2>Changelog</h2>
  <div class="content">
    <ul>
      <li><strong>2022-07-31:</strong> Added quest dialogue generation utility</li>
    </ul>
  </div>
</section>