
<section class="card">
  <h2>kwwxis's genshin wiki tools</h2>
  <div class="content">
    <h4>Welcome</h4>
    <p>Check out the tools in the sidebar to the right to get started.</p>
  </div>
  <div class="content">
    <h4>Disclaimer</h4>
    <p>This website pulls its data from datamined sources and may potentially contain unreleased info.
      Be careful not to accidentally add unreleased info to the wiki &mdash; this website is not responsible if you get bonked.
    </p>
  </div>
</section>
<section class="card">
  <h2>Changelog</h2>
  <div class="content">
    <ul>
      <li><strong>2022-08-01:</strong> Added Quest Dialogue Generator utility</li>
      <li><strong>2022-07-31:</strong> Added OL generation utility</li>
    </ul>
  </div>
</section>
<section class="card">
  <h2>To-Do</h2>
  <div class="content">
    <ul>
      <li>Improvements to quest dialogue generation utility.</li>
      <li>Nightmode support. If you add the <code>nightmode</code> CSS class to the body element that'll work, but I need to add an option in the UI to toggle it.</li>
    </ul>
  </div>
</section>