
<section class="card">
  <h2>kwwxis's genshin wiki tools</h2>
  <div class="content">
    <h4>Welcome</h4>
    <p>Check out the tools in the sidebar to the right to get started.</p>
  </div>
  <div class="content">
    <h4>Ideas and Bug Reports</h4>
    <p>If you have ideas for additional tools for this website or found any bugs, you can ping or DM kwwxis#1145.</p>
  </div>
  <div class="content">
    <h4>Disclaimer</h4>
    <p>This website pulls its data from datamined sources and may potentially contain unreleased info.
      Be careful not to accidentally add unreleased info to the wiki &mdash; this website is not responsible if you get bonked.
    </p>
  </div>
</section>
<section class="card">
  <h2>Changelog</h2>
  <div class="content">
    <ul>
      <li><strong>2022-10-31:</strong> Updated to Genshin 3.2 data.</li>
      <li><strong>2022-10-30:</strong> The character <code>·</code> is now replaced with <code>・</code> for CJK in OL tables</li>
      <li><strong>2022-10-30:</strong> Add cutscene subtitles, when applicable, to quest generation results.</li>
      <li><strong>2022-10-30:</strong> Add travel log summarization, when found, to quest generation results.</li>
      <li><strong>2022-10-13:</strong> Wiki VO support added to reminders.</li>
      <li><strong>2022-10-04:</strong> If a voiced dialogue line does not contain {{MC}} and has multiple VOs, then only the first VO {{A}} will be shown and the rest will be commented out.</li>
      <li><strong>2022-10-02:</strong> Added {{MC}} support to OL results.</li>
      <li><strong>2022-09-26:</strong> Updated to Genshin 3.1 data.</li>
      <li><strong>2022-09-24:</strong> Fixed bug with finding orphaned dialogue.</li>
      <li><strong>2022-09-19:</strong> Various UI improvements and clickable dialogue section metadata links.</li>
      <li><strong>2022-09-16:</strong> Various UI improvements.</li>
      <li><strong>2022-09-13:</strong> Wiki VO support for quest dialogue.</li>
      <li><strong>2022-09-05:</strong> Added support for multiple results to OL Generator tool.</li>
      <li><strong>2022-09-05:</strong> Added "NPC Dialogue Generator" tool.</li>
      <li><strong>2022-09-01:</strong> Fixed a caching issue that was showing results in the wrong language sometimes.</li>
      <li><strong>2022-08-30:</strong> Added "Reminder Dialogue Generator" tool and "All Reminder Dialogue" list.</li>
      <li><strong>2022-08-27:</strong> Added "Character Stories" and "Serenitea Pot Dialogue" lists</li>
      <li><strong>2022-08-25:</strong> Improvements to "Single Branch Dialogue Generator" tool.</li>
      <li><strong>2022-08-24:</strong> Various bug fixes.</li>
      <li><strong>2022-08-23:</strong> Made improvements to how Next Talks are handled in the "Quest Dialogue Generator" tool.</li>
      <li><strong>2022-08-23:</strong> Fixed various bugs.</li>
      <li><strong>2022-08-22:</strong> Updated to Genshin 3.0 data.</li>
      <li><strong>2022-08-22:</strong> Added "Single Branch Dialogue Generator" tool.</li>
      <li><strong>2022-08-21:</strong> Some improvements to "Quest Dialogue Generator" tool.</li>
      <li><strong>2022-08-03:</strong> Added light/dark mode buttons to header<br><small>(Dark mode will not persist if browser cookies are disabled)</small></li>
      <li><strong>2022-08-01:</strong> Added "Quest Dialogue Generator" tool</li>
      <li><strong>2022-07-31:</strong> Added OL Generator tool</li>
    </ul>
  </div>
</section>