<section class="card">
  <h2>OL Generate</h2>
  <div class="content">
    <p class="spacer5-bottom">Generate <%- Tl('Other Languages') %> template with official names filled out.</p>
    <div class="field valign">
      <div class="valign grow" style="max-width:500px">
        <input class="ol-input grow" type="text" placeholder="Enter a name" />
        <button class="ol-submit primary primary--2 spacer5-left">Generate</button>
      </div>
      <div class="ol-submit-pending hide loading small spacer5-left"></div>
    </div>
    <div class="field spacer5-top">
      <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
        <input type="radio" name="options" value="none" checked />
        <span>No options</span>
      </label>
      <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
        <input type="radio" name="options" value="exclude_tl" />
        <span>Exclude <code>[lang]_tl</code> params</span>
      </label>
      <label class="ui-radio dispBlock" style="padding-left:5px;font-size:13px;">
        <input type="radio" name="options" value="exclude_tl,default_hidden" />
        <span>Exclude <code>[lang]_tl</code> params and add <code>default_hidden</code> param</span>
      </label>
    </div>
  </div>
</section>
<div id="ol-results-list"></div>
<script nonce="<%= req.context.nonce %>">
waitForConstant('app', app => {
  const listeners = [
    {
      el: '.ol-input',
      ev: 'enter',
      fn: function(event, target) {
        document.querySelector('.ol-submit').click();
      }
    },
    {
      el: '.ol-submit',
      ev: 'click',
      fn: function(event, target) {
        let inputEl = document.querySelector('.ol-input');
        let loadingEl = document.querySelector('.ol-submit-pending');
        let optionValue = document.querySelector('input[type="radio"][name="options"]:checked').value;
        let text = inputEl.value.trim();

        if (!text) {
          app.flashTippy(inputEl, {content: 'Enter a name first!', delay:[0,2000]});
          return;
        }

        loadingEl.classList.remove('hide');
        inputEl.disabled = true;
        target.disabled = true;

        app.endpoints.generateOL(text, optionValue.includes('exclude_tl'), optionValue.includes('default_hidden'), true).then(result => {
          if (typeof result === 'string') {
            document.querySelector('#ol-results-list').innerHTML = result;
            if (!result.includes('no-results-found')) {
              inputEl.value = '';
            }
            app.startListeners([
              {
                el: '.ol-result-copy',
                ev: 'click',
                multiple: true,
                fn: function(event, target) {
                  copyToClipboard(target.closest('.ol-result').querySelector('.ol-result-textarea').value);
                }
              }
            ], document.querySelector('#ol-results-list'));
          } else if (typeof result === 'object' && result.error_description) {
            if (result.error_code === 'NOT_FOUND') {
              document.querySelector('#ol-results-list').innerHTML = 'Not Found: ' + result.error_description;
            } else {
              document.querySelector('#ol-results-list').innerHTML = result.error_code + ': ' + result.error_description;
            }
          }
        }).finally(() => {
          loadingEl.classList.add('hide');
          inputEl.disabled = false;
          target.disabled = false;
        });
      }
    },
  ];

  app.startListeners(listeners);
});
</script>