<section class="card">
  <h2>Find Quest</h2>
  <div class="content">
    <div class="field valign" style="max-width:500px">
      <input class="grow" type="text" placeholder="Enter quest name" />
      <button class="primary primary--2 spacer5-left">Search</button>
    </div>
  </div>
</section>