<div class="dialogue-container">
  <% sections.forEach(section => { %>
    <section class="card">
      <h2>Match ID: <strong><%= section.id %></strong></h2>
      <div class="content">
        <%- include('partials/dialogue/dialogue-section', section) %>
      </div>
    </section>
  <% }) %>
  <% if (!sections.length) { %>
    <section class="card">
      <div class="content">
        <strong>Dialogue not found.</strong>
        <p>If it's an auto-disappearing overworld line and you're pretty sure you typed it correctly,
          then it might be a <code>ReminderExcelConfigData</code> rather than a <code>DialogExcelConfigData</code>, in which case this tool cannot help you.</p>
      </div>
    </section>
  <% } %>
</div>