<div class="dialogue-container">
  <% if (!!id) { %>
    <section class="card">
      <h2 class="valign">
        <span><%= type %>:</span>&nbsp;<strong><%= id %></strong>
        <div class="grow"></div>
        <button class="secondary" ui-action="copy: #wikitext"
                ui-tippy-hover="Click to copy to clipboard"
                ui-tippy-flash="{content:'Copied!', delay: [0,2000]}"
                style="margin:-5px 0">Copy</button>
      </h2>
      <div class="dialogue-section content">
        <textarea id="wikitext" readonly class="w100p wikitext autosize" spellcheck="false"><%= text %></textarea>
      </div>
    </section>
  <% } %>
  <% if (!id) { %>
    <section class="card">
      <div class="content">
        <strong>Not found.</strong>
      </div>
    </section>
  <% } %>
</div>