.f100p {
  flex-basis: 100%;
}
.f95p {
  flex-basis: 95%;
}
.f90p {
  flex-basis: 90%;
}
.f85p {
  flex-basis: 85%;
}
.f80p {
  flex-basis: 80%;
}
.f75p {
  flex-basis: 75%;
}
.f70p {
  flex-basis: 70%;
}
.f65p {
  flex-basis: 65%;
}
.f60p {
  flex-basis: 60%;
}
.f55p {
  flex-basis: 55%;
}
.f50p {
  flex-basis: 50%;
}
.f45p {
  flex-basis: 45%;
}
.f40p {
  flex-basis: 40%;
}
.f37p {
  flex-basis: 37.5%;
}
.f35p {
  flex-basis: 35%;
}
.f33p {
  flex-basis: 33.3333%;
}
.f30p {
  flex-basis: 30%;
}
.f25p {
  flex-basis: 25%;
}
.f20p {
  flex-basis: 20%;
}
.f15p {
  flex-basis: 15%;
}
.f10p {
  flex-basis: 10%;
}
.f0p,
.f0 {
  flex-basis: 0;
}