
.fsplit {
  display: flex;
  justify-content: space-between;
}
.fsplit2 > * {
  flex-basis: 50%;
}
.fsplit3 > * {
  flex-basis: 33.33%;
}
.fsplit4 > * {
  flex-basis: 25%;
}
.fsplit5 > * {
  flex-basis: 20%;
}
.fsplit6 > * {
  flex-basis: 16.66%;
}
.fsplit7 > * {
  flex-basis: 14.28%;
}
.fsplit8 > * {
  flex-basis: 12.5%;
}
.fsplit9 > * {
  flex-basis: 11.11%;
}
.fsplit10 > * {
  flex-basis: 10%;
}
.fsplit11 > * {
  flex-basis: 9.09%;
}
.fsplit12 > * {
  flex-basis: 8.33%;
}
.fsplit13 > * {
  flex-basis: 7.69%;
}
.fsplit14 > * {
  flex-basis: 7.14%;
}
.fsplit15 > * {
  flex-basis: 6.66%;
}
.fsplit16 > * {
  flex-basis: 6.25%;
}
.fsplit17 > * {
  flex-basis: 5.88%;
}
.fsplit18 > * {
  flex-basis: 5.55%;
}
.fsplit19 > * {
  flex-basis: 5.26%;
}
.fsplit20 > * {
  flex-basis: 5%;
}
