.halign, .justifyCenter {
  display: flex !important;
  justify-content: center !important;
}
.justifyStart {
  display: flex !important;
  justify-content: flex-start !important;
}
.justifyEnd {
  display: flex !important;
  justify-content: flex-end !important;
}
.justifySpaceBetween {
  display: flex !important;
  justify-content: space-between !important;
}
.justfiySpaceAround {
  display: flex !important;
  justify-content: space-around !important;
}