.valign, .alignCenter {
  display: flex !important;
  align-items: center !important;
}
.alignStart {
  display: flex !important;
  align-items: flex-start !important;
}
.alignEnd {
  display: flex !important;
  align-items: flex-end !important;
}
.alignStretch {
  display: flex !important;
  align-items: stretch !important;
}

.flexColumn {
  flex-direction: column;
}
.flexColumnReverse {
  flex-direction: column-reverse;
}
