.material-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  .material-card {
    display: block;
    width: min-content;
    box-shadow: 0 0 5px #43403d;
    border-radius: 5px;
    overflow: hidden;
    background: #E9E5DC;
    background: linear-gradient(transparent 10px,#E9E5DC 10px);
    text-align: center;

    .material-icon {
      display: flex;
      width: 74px;
      height: 74px;
      border-bottom-right-radius: 14px;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }
    .material-text {
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      line-height: 20px;
      color: #555;
      font-weight: 600;
    }
  }
  .material-name {
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
  }
}

.material-icon {
  &[data-quality='0'],
  &[data-quality='1'] {
    background: #a4a4a4;
    background: linear-gradient(0deg,#a4a4a4 0%,#76787c 100%);
    background: url('/images/static/ItemQualityBg_1.png') 0 0 / 100% auto;
  }
  &[data-quality='123'],
  &[data-quality='1-2-3'],
  &[data-quality='1-3'] {
    background: #a4a4a4;
    background: linear-gradient(0deg,#a4a4a4 0%,#76787c 100%);
    background: conic-gradient(#76787c 0deg 60deg,#658CAF 60deg 180deg,#5D8C81 180deg 300deg,#76787c 300deg);
    background: url('/images/static/ItemQualityBg_1-3.png') 0 0 / 100% auto;
  }
  &[data-quality='2'] {
    background: #5D8C81;
    background: linear-gradient(0deg,#5D8C81 0%,#4E7E6C 100%);
    background: url('/images/static/ItemQualityBg_2.png') 0 0 / 100% auto;
  }
  &[data-quality='23'],
  &[data-quality='2-3'] {
    background: #5D8C81;
    background: linear-gradient(0deg,#5D8C81 0%,#4E7E6C 100%);
    background: conic-gradient(#5D8C81 0deg 45deg,#658CAF 45deg 225deg,#5D8C81 225deg 360deg);
    background: url('/images/static/ItemQualityBg_2-3.png') 0 0 / 100% auto;
  }
  &[data-quality='3'] {
    background: #6faaca;
    background: linear-gradient(0deg,#6faaca 0%,#697b9b 100%);
    background: url('/images/static/ItemQualityBg_3.png') 0 0 / 100% auto;
  }
  &[data-quality='34'],
  &[data-quality='3-4'] {
    background: #6faaca;
    background: linear-gradient(0deg,#6faaca 0%,#697b9b 100%);
    background: conic-gradient(#697b9b 0deg 45deg,#917ab1 45deg 225deg,#697b9b 225deg 360deg);
    background: url('/images/static/ItemQualityBg_3-4.png') 0 0 / 100% auto;
  }
  &[data-quality='4'] {
    background: #917ab1;
    background: linear-gradient(0deg,#917ab1 0%,#6c6192 100%);
    background: url('/images/static/ItemQualityBg_4.png') 0 0 / 100% auto;
  }
  &[data-quality='45'],
  &[data-quality='4-5'] {
    background: #78609E;
    background: linear-gradient(0deg,#78609E 0%,#78609E 100%);
    background: conic-gradient(#6c6192 0deg 45deg,#de9552 45deg 225deg,#6c6192 225deg 360deg);
    background: url('/images/static/ItemQualityBg_4-5.png') 0 0 / 100% auto;
  }
  &[data-quality='5'] {
    background: #9a6d43;
    background: linear-gradient(0deg,#de9552 0%,#9a6d43 100%);
    background: url('/images/static/ItemQualityBg_5.png') 0 0 / 100% auto;
  }
  &[data-quality='5a'] {
    background: #AF5155;
    background: linear-gradient(0deg,#DA4F55 0%,#AF5155 100%);
    background: url('/images/static/ItemQualityBg_5a.png') 0 0 / 100% auto;
  }
}