
.ag-cell-wrap-text {
  word-break: break-word;
  line-height: 1.6em;
}
.ag-cell-value {
  cursor: text;
}

.ag-cell.cell-type-number .ag-cell-value {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

.ag-cell .highlighted {
  background: transparent !important;
}