<section class="card">
  <h2>Messages</h2>
  <div class="content dispFlex flexWrap alignStart">
    <% avatars.forEach(avatar => { %>
      <div class="w50p">
        <a class="secondary spacer3-all valign textAlignLeft" role="button" href="/messages/<%= avatar.Id %>">
          <img class="icon x32" src="/images/hsr/<%= avatar.DefaultHeadIconPath %>" loading="lazy" decoding="async" />
          <span class="spacer10-left"><%= normStarRailText(avatar.NameText) %></span>
        </a>
      </div>
    <% }) %>
  </div>
</section>