.dispBlock {
  display: block !important;
}
.dispInline {
  display: inline !important;
}
.dispInlineBlock {
  display: inline-block !important;
}
.dispFlex {
  display: -webkit-flex !important;
  display: flex !important;
}
.dispInlineFlex {
  display: inline-flex !important;
}
.flexWrap {
  flex-wrap: wrap !important;
}