
.opacity5p {
  opacity: 0.05;
}
.opacity10p {
  opacity: 0.1;
}
.opacity15p {
  opacity: 0.15;
}
.opacity20p {
  opacity: 0.2;
}
.opacity25p {
  opacity: 0.25;
}
.opacity30p {
  opacity: 0.3;
}
.opacity35p {
  opacity: 0.35;
}
.opacity40p {
  opacity: 0.4;
}
.opacity45p {
  opacity: 0.45;
}
.opacity50p {
  opacity: 0.5;
}
.opacity55p {
  opacity: 0.55;
}
.opacity60p {
  opacity: 0.6;
}
.opacity65p {
  opacity: 0.65;
}
.opacity70p {
  opacity: 0.7;
}
.opacity75p {
  opacity: 0.75;
}
.opacity80p {
  opacity: 0.8;
}
.opacity85p {
  opacity: 0.85;
}
.opacity90p {
  opacity: 0.9;
}
.opacity95p {
  opacity: 0.95;
}
.opacity100p {
  opacity: 1;
}