.w100p {
  width: 100%;
}
.w95p {
  width: 95%;
}
.w90p {
  width: 90%;
}
.w85p {
  width: 85%;
}
.w80p {
  width: 80%;
}
.w75p {
  width: 75%;
}
.w70p {
  width: 70%;
}
.w65p {
  width: 65%;
}
.w60p {
  width: 60%;
}
.w55p {
  width: 55%;
}
.w50p {
  width: 50%;
}
.w45p {
  width: 45%;
}
.w40p {
  width: 40%;
}
.w37p {
  width: 37.5%;
}
.w35p {
  width: 35%;
}
.w33p {
  width: 33.3333%;
}
.w30p {
  width: 30%;
}
.w25p {
  width: 25%;
}
.w20p {
  width: 20%;
}
.w15p {
  width: 15%;
}
.w10p {
  width: 10%;
}
.w0p,
.w0 {
  width: 0;
}