<div class="dialogue-container">
  <% sections.forEach(section => { %>
    <section class="card">
      <h2>Match ID: <strong><%= section.id %></strong></h2>
      <div class="content">
        <%- include('partials/quests/dialogue-section', section) %>
      </div>
    </section>
  <% }) %>
</div>