<section id="app-sidebar__header" class="card">
  <h2 class="valign" style="padding:6px 10px">
    <img src="/images/site/logo/Belle.webp" style="width:28px;height:auto;border-radius:50%" />
    <span class="spacer10-left">Zenless Zone Zero</span>
  </h2>
</section>
<div id="app-sidebar__content"<%- locals.appSidebarOverlayScroll ? ' data-overlayscrollbars-initialize' : '' %>>
  <section id="app-sidebar__basic" class="card">
    <h2>Basic Tools</h2>
    <div class="content">
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--textmap', 'selected') %>" role="button" href="/zenless/textmap">TextMap Search</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--OL', 'selected') %>" role="button" href="/zenless/OL">OL Generator</a>
      <a class="secondary dispBlock spacer3 textAlignLeft <%= bodyClassTernary('page--id-usages', 'selected') %>" role="button" href="/zenless/id-usages">Identifier Usages</a>
    </div>
  </section>
</div>
