
#app-sidebar, .sidebar {
  width: 348px;
  flex-shrink: 0;
  transition: width 100ms linear, opacity 200ms ease;

  &.left {
    padding-right: 30px;
  }
  &.right {
    padding-left: 30px;
  }

  .secondary {
    font-size: 16px;
  }
}

#app-sidebar__content h2 {
  padding: 5px 10px;
  font-size: 16.5px;
}
#app-sidebar__content h4 {
  opacity: 0.92;
}
#app-sidebar__header h2 span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
}


@media (max-width: 1050px) {
  #app-sidebar .content a.secondary,
  .sidebar .content a.secondary {
    font-size: 15.5px;
  }
  #app-sidebar__header h2 span {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  #app-sidebar .content a.secondary,
  .sidebar .content a.secondary {
    font-size: 15px;
    padding: 6px 6px;
    height: auto;
    line-height: 16px;
  }
  #app-sidebar__header h2 span {
    font-size: 14.5px;
  }
}

.page--narrow-sidebar #app-sidebar {
  width: 315px;

  &.left {
    padding-right: 10px;
  }
  &.right {
    padding-left: 15px;
  }
}
