#mobile-menu-trigger {
  display: none !important;
}

#mobile-menu-button {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  background: 0;
  border: 0;
  cursor: pointer;

  .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .icon-close {
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 0ms;
    will-change: transform;
  }
  .icon-menu line {
    transition: all 180ms ease;
    will-change: transform;
    &:nth-child(1) {
      transition-delay: 260ms;
    }
    &:nth-child(2) {
      transition-delay: 180ms;
    }
    &:nth-child(3) {
      transition-delay: 100ms;
    }
  }
}

body.mobile-menu-open {
  overflow: hidden;

  #mobile-menu-button .icon-menu {
    line:nth-child(1) {
      transform: translateX(30px);
      transition-delay: 0ms;
    }
    line:nth-child(2) {
      transform: translateX(30px);
      transition-delay: 80ms;
    }
    line:nth-child(3) {
      transform: translateX(30px);
      transition-delay: 160ms;
    }
  }
  #mobile-menu-button .icon-close {
    opacity: 1;
    transition-delay: 300ms;
  }
}

body.nightmode #mobile-menu-button {
  color: #fff;
}

@media (max-width: 1200px) {
  #app-wrapper {
    padding: 15px;
  }

  #app-sidebar, .sidebar {
    width: 315px;

    &.left {
      padding-right: 10px;
    }
    &.right {
      padding-left: 15px;
    }
  }
}

@media (max-width: 1000px) {
  #app-wrapper {
    padding: 10px;
  }

  #app-sidebar, .sidebar {
    width: 235px;

    &.left {
      padding-right: 10px;
    }
    &.right {
      padding-left: 10px;
    }
  }
}

@media (max-width: 950px) {
  #mobile-menu-trigger {
    display: flex !important;
    margin-right: 15px;
  }

  #app-sidebar {
    display: none;
  }

  #app-sidebar__header {
    display: none;
  }

  body {
    padding-top: 52px;
  }

  #header {
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;

    & > .right .header-language-selector,
    & > .right .app-menu-buttons {
      display: none !important;
    }

    .site-mode-selector {
      display: none !important;
    }
  }

  #mobile-menu-body-cover {
    position: fixed;
    z-index: 9990;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.0);
    transition: all 150ms ease-out;

    &.active {
      background: rgba(0,0,0,0.4);
    }
  }

  body.nightmode #mobile-menu-body-cover.active {
    background: rgba(0,0,0,0.6);
  }

  #mobile-menu {
    position: fixed;
    z-index: 9999;
    top: 52px;
    right: 0;
    bottom: 0;
    background: white;
    padding: 20px 10px 40px;
    border-left: 1px solid hsla(223, 67%, 18%, 0.3);
    transform: translateX(100%);
    transition: all 120ms ease-out;
    overflow-y: auto;
    min-width: min(300px, 80vw);
    overscroll-behavior: contain;

    &.active {
      transform: translateX(0%);
    }

    .app-menu-buttons {
      margin: 0;
      width: 100%;
      .toggle-theme-buttons {
        flex-grow: 1;
      }
      .toggle-theme-buttons .secondary {
        text-align: center;
        justify-content: center;
        padding: 8px 0;
        font-size: 16px;
        width: 50%;
      }
    }

    .header-language-selector {
      margin: 5px 0;
    }

    .card {
      margin: 0 -10px 0;
      border-left: 0;
      border-right: 0;
    }

    .card > h2 {
      font-size:  17px;
      padding: 4px 10px;
    }

    .card h4 {
      font-size: 16px;
    }

    .site-mode-selector {
      margin: -10px 0 10px 0 !important;

      .site-mode-dropdown-button {
        width: 100%;
        justify-content: space-between;
      }
    }
    #site-mode-dropdown-mobile {
      width: 100%;
      border-top: 0 !important;
      padding: 0;
      .option {
        padding: 11px 11px;
        border-bottom: 1px solid #d5d5d5;

        body.nightmode & {
          border-bottom-color: hsl(253deg 13% 4%);;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  body.nightmode #mobile-menu {
    background: hsl(255deg 13% 14%);
  }

  footer .wrapper {
    flex-direction: column;

    .credit {
      margin-bottom: 10px;
    }
  }
}

