<section class="card">
  <h2>TCG Rules</h2>
</section>
<% for (let rule of rules) { %>
  <section class="card">
    <h2><%= rule.TitleText %></h2>
    <div class="content">
      <ul>
        <% for (let detail of rule.DetailList) { %>
          <li>
            <strong class="valign"><%- genshinSpriteTagIconize(detail.TitleText || '(No title)') %></strong>
            <%- use('partials/util/wikitext', {wikitext: normGenshinText(detail.ContentText), seamless: true}) %>
          </li>
        <% } %>
      </ul>
    </div>
  </section>
<% } %>