<section class="card">
  <h2>TCG Talk Detail</h2>
  <div class="content">
    <% for (let stageTalk of stageTalks) { %>
      <%- include('partials/genshin/dialogue/dialogue-section', stageTalk) %>
    <% } %>
  </div>
</section>