
<section class="card">
  <h2>TCG Tutorial Text</h2>
  <div class="content">
    <div class="dialogue-container">
      <%- include('partials/genshin/dialogue/dialogue-section', dialogue) %>
    </div>
  </div>
</section>