<div class="toggle-theme-buttons alignStretch button-group spacer5-right">
  <button class="secondary <%= ctx.prefTernary('isNightmode').isFalsy().then('selected') %>" value="daymode"><%- icon('sun') %></button>
  <button class="secondary <%= ctx.prefTernary('isNightmode').isTruthy().then('selected') %>" value="nightmode"><%- icon('moon') %></button>
</div>
