<div class="error-box is--no-servers">
  <h2>No servers</h2>
  <hr class="thin-border">
  <p>Hmm, you don't have access to any Discord servers that use our service.</p>
  <p>If there's a server you expected to have access to, talk to a
    server admin about getting you the permissions you need.</p>
  <p>Refresh this page once you've got those permissions.</p>
</div>