<div id="app-wrapper" class="wrapper">
  <div class="alignStart">
    <main id="app-main" class="f70p">
      <%- include(subview, sublocals) %>
    </main>
    <aside id="app-sidebar" class="f30p">
      <%- include('partials/menu/app-menu') %>
    </aside>
  </div>
</div>