#site-logview {
  padding: 5px;
}
#site-logview-body {
  height: calc(100vh - 190px);
  overflow-y: scroll;
}
.logview-row {
  display: flex;
  border: 1px solid #aaa;
  margin: 5px;
  border-radius: 5px;

  .logview-cell {
    padding: 2px 5px;
    font-size: 15px;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: anywhere;

    &.for-mode, &.for-http-status, &.for-http-uri, &.for-http-method {
      font-size: 14px;
      font-family: Consolas, Menlo, 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', sans-serif;
    }

    &.for-timestamp {
      width: 120px;
      flex-shrink: 0;
      font-size: 14px;
    }
    &.for-wiki-user {
      width: 200px;
      flex-shrink: 0;
    }
    &.for-mode {
      width: 100px;
      flex-shrink: 0;
    }
    &.for-http-status {
      width: 60px;
      flex-shrink: 0;
    }
    &.for-http-method {
      width: 60px;
      flex-shrink: 0;
    }
    &.for-http-uri {
      flex-grow: 1;
      opacity: 0.9;
    }
    &.for-http-runtime {
      width: 90px;
      flex-shrink: 0;
    }
  }

  &.for-header {
    .logview-cell {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.1em;
    }
  }
}

.for-http-api .logview-cell.for-http-uri {
  color: #343480;
}
.for-http-web .logview-cell.for-http-uri {
  color: #003d00;
}


.logview-cell.for-http-uri {
  display: flex;
  align-items: center;
}
.logview-cell.for-http-uri:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  pointer-events: none;
}
.logview-row.for-genshin .logview-cell.for-http-uri:before {
  background: url('/images/site/logo/Sucrose.webp') no-repeat center / contain;
}
.logview-row.for-hsr .logview-cell.for-http-uri:before {
  background: url('/images/site/logo/March_7th_Sticker_1.webp') no-repeat center / contain;
}
.logview-row.for-zenless .logview-cell.for-http-uri:before {
  background: url('/images/site/logo/Belle.webp') no-repeat center / contain;
  border-radius: 50%;
}
.logview-row.for-wuwa .logview-cell.for-http-uri:before {
  background: url('/images/site/logo/Yangyang.webp') no-repeat center / contain;
}

