<section class="card">
  <h2><span>Saccharose.wiki</span><br><small>kwwxis's Zenless Zone Zero Wiki Tools</small></h2>
</section>
<section class="card">
  <div class="content">
    <h4>Welcome</h4>
    <p>Check out the tools in the sidebar to the right to get started.</p>
  </div>
</section>
<section id="landing-changelog" class="card">
  <h2>Changelog</h2>
  <div class="content">
    <li><strong>2023-05-06:</strong> Added "TextMap Search" tool</li>
    <li><strong>2023-05-06:</strong> Added "Other Languages Generator" tool</li>
  </div>
</section>