<section class="card">
  <h2>TCG Talk Detail</h2>
  <div class="content">
    <% for (let detail of Object.values(details)) { %>
      <div class="dialogue-container">
        <%- include('partials/dialogue/dialogue-section', detail.dialogue) %>
      </div>
    <% } %>
  </div>
</section>