<section class="card">
  <h2>TextMap Search</h2>
  <div class="content form-box">
    <p class="spacer10-bottom">Enter any arbitrary text and search for it in the TextMap, returning the full TextMap
    item that the text was found in (up to 100 search results).</p>
    <div class="field valign">
      <div class="posRel valign grow">
        <input class="search-input grow" type="text" placeholder="Enter text to search for in TextMap." style="border-radius:3px 0 0 3px" />
        <button class="search-input-clear input-clear-button hide"><%- icon('x-circle') %></button>
      </div>
      <%- include('partials/util/search-mode-input') %>
    </div>
    <div class="field valign spacer10-top">
      <button class="search-submit primary primary--2">Search</button>
      <div class="search-submit-pending hide loading small spacer5-left"></div>
    </div>
  </div>
  <input id="startFromLine" type="text" style="display:none!important;" />
  <input id="resultSetNum" type="text" style="display:none!important;" />
</section>
<div id="search-result"></div>