@font-face {
  font-family: 'Comic Sans MS';
  src: url('Comic Sans MS.woff') format('woff'), url('Comic Sans MS.ttf') format('truetype');
}

#site-title-text {
  font-family: 'Comic Sans MS', sans-serif;
  display: inline-block;
  font-size: 21px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 0.5);
}

#site-title-text .n {
  display: inline-block;
  color: orangered;
  animation: title-bounce 1.5s infinite ease-in-out;
}
#site-title-text .i {
  display: inline-block;
  color: orange;
  animation: title-bounce-opposite 1.5s infinite ease-in-out;
}
#site-title-text .c {
  display: inline-block;
  color: yellow;
  animation: title-bounce 1.5s infinite ease-in-out;
}
#site-title-text .k {
  display: inline-block;
  color: limegreen;
  animation: title-bounce-opposite 1.5s infinite ease-in-out;
}
#site-title-text .j {
  display: inline-block;
  color: dodgerblue;
  animation: title-bounce 1.5s infinite ease-in-out;
}
#site-title-text .r {
  display: inline-block;
  color: mediumpurple;
  animation: title-bounce-opposite 1.5s infinite ease-in-out;
}
#site-title-text .dot {
  display: inline-block;
  color: red;
  animation: title-bounce 1.5s infinite ease-in-out;
}
#site-title-text .w {
  display: inline-block;
  color: hotpink;
  animation: title-bounce-opposite 1.5s infinite ease-in-out;
}
#site-title-text .i2 {
  display: inline-block;
  color: limegreen;
  animation: title-bounce 1.5s infinite ease-in-out;
}
#site-title-text .k2 {
  display: inline-block;
  color: deepskyblue;
  animation: title-bounce-opposite 1.5s infinite ease-in-out;
}
#site-title-text .i3 {
  display: inline-block;
  color: orangered;
  animation: title-bounce 1.5s infinite ease-in-out;
}

@keyframes title-bounce {
  0% {
    transform: translateY(-12%) rotate(-5deg);
  }
  10% {
    transform: translateY(0%) rotate(0deg);
  }
  85% {
    transform: translateY(0%) rotate(0deg);
  }
  90% {
    transform: translateY(-12%) rotate(5deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}
@keyframes title-bounce-opposite {
  0% {
    transform: translateY(-12%) rotate(5deg);
  }
  10% {
    transform: translateY(0%) rotate(0deg);
  }
  85% {
    transform: translateY(0%) rotate(0deg);
  }
  90% {
    transform: translateY(-12%) rotate(-5deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}

.cursor-trail {
  position: absolute;
  z-index: 99999;
  pointer-events: none;
  display: block;
  width: 20px;
  height: 20px;
  background: url('/images/site/home/Painmelo.png') center center / contain no-repeat;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 1500ms ease-out;
}

.card > h2 {
  font-family: 'Comic Sans MS', 'Open Sans', sans-serif;
}
