
body {
  background: #f6f4fc;
  background: hsl(240, 50%, 97%);
  color: #0f214d;
}

/* #region Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid hsla(223, 67%, 18%, 0.3);
  background: #fff;
}

#header #site-title {
  text-decoration: none;
  margin: 0 10px;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

#site-logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  background: #eaeffb;
}
#site-logo-fg {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  width: 80px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.nightmode #site-logo-fg img {
  opacity: 0.9;
}

#header .left,
#header .right {
  display: flex;
  align-items: center;
}

#header .toggle-theme-buttons {
  margin-right: 10px;
}
#header .toggle-theme-buttons .secondary {
  height: 32px;
}

.header-language-selector {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-right: 10px;
}
.header-language-selector strong {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}
.header-language-selector select {
  padding: 3px;
}
.output-language-selector {
  margin-right: 20px;
}
/* #endregion */

/* #region UI-Radio */
.ui-radio,
.ui-checkbox {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 3px 10px;
  position: relative;
  overflow: hidden;
}

.ui-radio:hover,
.ui-checkbox:hover {
  background: #f7f9fb;
}

.ui-radio input,
.ui-checkbox input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.ui-radio input + *,
.ui-checkbox input + * {
  display: inline-block;
  padding-left: 1.8em;
  color: hsla(232, 20%, 32%, 0.8);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  position: relative;
  line-height: 1.5em;
}

.ui-radio input + *:before,
.ui-checkbox input + *:before {
  content: '';
  display: inline-table;
  width: 1em;
  height: 1em;
  max-width: 1em;
  max-height: 1em;
  box-sizing: border-box;
  border: 0.5px solid hsla(232, 20%, 32%, 0.3);
  box-shadow: 0 0 5px hsla(232, 20%, 32%, 0.3);
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui-radio:hover input:not(:checked):not(:focus):not(:indeterminate):not(.indeterminate):not(.is--indeterminate) + *:before,
.ui-checkbox:hover input:not(:checked):not(:focus):not(:indeterminate):not(.indeterminate):not(.is--indeterminate) + *:before {
  border-color: hsla(232, 20%, 32%, 0.4);
}

.ui-radio input + *:before {
  border-radius: 50%;
}

.ui-checkbox input:checked + *:before {
  border-color: #3daaf5;
  background: linear-gradient(#3daaf5, #3daaf5) center center / 0.6em 0.6em;
  background-repeat: no-repeat;
}

.ui-radio input:checked + *:before {
  border-color: #3daaf5;
  background: radial-gradient(
    0.6em 0.6em at center center,
    #3daaf5 49%,
    hsla(204, 90%, 60%, 0.5) 50%,
    #fff 55%
  );
  background-repeat: no-repeat;
}

.ui-radio input:focus + *:before,
.ui-checkbox input:focus + *:before {
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2);
  border-color: #3daaf5;
}


.ui-checkbox input:indeterminate + *:before,
.ui-checkbox input:checked:indeterminate + *:before,
.ui-checkbox input.is--indeterminate + *:before,
.ui-checkbox input.is--indeterminate:checked + *:before,
.ui-checkbox input.indeterminate + *:before,
.ui-checkbox input.indeterminate:checked + *:before {
  border-color: #3daaf5;
  background-color: #fff;
  background: linear-gradient(#fff, #fff) center center / 0.35em 0.15em,
    linear-gradient(hsla(204, 90%, 60%, 0.85), hsla(204, 90%, 60%, 0.85)) center center / 0.6em 0.6em;
  background-repeat: no-repeat;
}
/* #endregion */

/* #region Close Icon */
/* #endregion */

/* #region Other */
.credit p:first-child {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  margin: 0;
}

.credit p:last-child {
  font-size: 14px;
  margin: 0 !important;
  margin-left: 13px !important;
}

.credit,
.credit p {
  line-height: 18px !important;
}

body > .content {
  padding: 0;
  min-height: calc(100vh - 52px);
}

body > footer {
  border-top: 0.5px solid hsla(223, 67%, 18%, 0.3);
  background: #fff;
  padding: 0 10px;
}

footer .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer a {
  color: hsl(220, 61%, 50%);
  text-decoration: none;
}

.footer-links {
  margin-left: 30px;
}

.footer-links a {
  text-decoration: none;
  background: hsla(210, 14%, 96%, 1);
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 15px;
  color: hsl(220, 61%, 60%);
}
.footer-links a:hover {
  background: hsla(210, 14%, 93%, 1);
}
/* #endregion */

/* #region Nightmode */
html.nightmode {
  color-scheme: dark;
}
body.nightmode {
  background: hsla(255, 18%, 10%, 1);
  color: hsl(255deg 5% 73%);
}
body.nightmode a {
  color: #e4c179;
}
body.nightmode a:hover {
  color: #f5e8cd;
}

body.nightmode .card {
  background: hsl(255deg 13% 14%);
  box-shadow: 0 1px 2px rgb(174 180 193 / 25%);
  border: 1px solid hsl(255deg, 13%, 25%);
}
body.nightmode .card h2 {
  background: hsl(232deg 15% 29% / 32%);
}
body.nightmode .card > h2:first-child {
  border-bottom-color: hsl(255deg 13% 25%);
}

body.nightmode #header {
  background: hsl(255deg 13% 14%);
}

body.nightmode #site-logo-bg {
  background: hsl(255deg 13% 18%);
}

body.nightmode textarea,
body.nightmode select,
body.nightmode [contenteditable]:not(.highlighted),
body.nightmode .input-style,
body.nightmode input[type='text'],
body.nightmode input[type='password'],
body.nightmode input[type='search'],
body.nightmode input[type='email'],
body.nightmode input[type='url'],
body.nightmode input[type='number'],
body.nightmode input[type='time'],
body.nightmode input[type='date'] {
  background: hsl(255deg 8% 22%);
  color: hsl(255deg 5% 73%);
  border-color: hsla(232, 20%, 60%, 0.25);
}

body.nightmode [contenteditable].highlighted {
  border-color: hsla(232, 20%, 60%, 0.25);
}

body.nightmode textarea:focus,
body.nightmode select:focus,
body.nightmode [contenteditable]:focus,
body.nightmode .input-style:focus,
body.nightmode input[type='text']:focus,
body.nightmode input[type='password']:focus,
body.nightmode input[type='search']:focus,
body.nightmode input[type='email']:focus,
body.nightmode input[type='url']:focus,
body.nightmode input[type='number']:focus,
body.nightmode input[type='time']:focus, input[type='date']:focus {
  box-shadow: 0 0 0 2px rgb(0 140 221 / 20%);
  box-shadow: none;
  border-color: hsl(204deg 90% 32%);
}


body.nightmode .tab-list {
  background: hsl(255deg 8% 8%);
}

body.nightmode .tab-list button {
  background: hsl(255deg 8% 14%);
  color: #fff;
}
body.nightmode .tab-list button.active {
  background: hsl(255deg 8% 22%);
  color: #fff;
}

body.nightmode .tab-list:after {
  background: hsl(255deg 8% 22%);
}

body.nightmode .ui-radio input + *,
body.nightmode .ui-checkbox input + * {
  color: hsl(255deg 5% 73%);
}

body.nightmode .ui-radio:hover,
body.nightmode .ui-checkbox:hover {
  background: hsl(255deg 12% 16%);
}

body.nightmode fieldset {
  border-color: hsl(255deg 13% 25%);
}

body.nightmode .card hr {
  border-bottom-color: hsl(255deg 13% 25%);
}

body.nightmode .card > h2 {
  border-bottom-color: hsl(255deg 13% 25%);
}
body.nightmode .card > h2:not(:first-child) {
  border-top-color: hsl(255deg 13% 25%);
}
body.nightmode > footer {
  background: hsl(255deg 13% 14%);
  color: hsl(255deg 5% 73%);
  border-top-color: hsl(255deg 13% 25%);
}

body.nightmode .credit p:first-child {
  color: hsl(255deg 5% 73%);
}
body.nightmode .footer-links a {
  background: hsl(255deg 8% 20%);
  color: hsl(255deg 5% 73%);
}

body.nightmode .AppDialog {
  background: hsl(255deg 13% 14%);
  box-shadow: 0 10px 100px rgb(255 255 255 / 10%), 0 0 1px rgb(255 255 255 / 10%), 0 1px 25px rgb(255 255 255 / 5%);
}

body.nightmode .tippy-box {
  background-color: hsl(255deg 12% 20%);
  border: 1px solid hsl(255deg 13% 42%);
}
/* #endregion */

/* #region Sidebar */
@media (max-width: 1050px) {
  #app-sidebar .content a.secondary {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  #app-sidebar .content a.secondary {
    font-size: 15px;
    padding: 6px 6px;
    height: auto;
    line-height: 16px;
  }
}
/* #endregion */