/* All Buttons
------------------------------------------------------------------------------------------------- */
button.primary,
button.secondary,
button.tertiary,
[role='button'].primary,
[role='button'].secondary,
[role='button'].tertiary,
.secondary-label {
  outline: 0 !important;
  text-decoration: none;
}

.buttons button,
.buttons [role='button'] {
  margin: 2px 2px;
}

.buttons .error-notice,
.card .buttons p.error {
  padding: 2px 5px;
  display: inline-block;
}

/* icon */
button > .icon:first-child:not(:last-child),
[role='button'] > .icon:first-child:not(:last-child) {
  margin-right: 7px;
}

/* Primary Buttons
------------------------------------------------------------------------------------------------- */
button.primary,
[role='button'].primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 5px 1px 0;
  padding: 0 10px;
  line-height: 29px;
  min-width: 77px;
  text-align: center;

  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 15px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 3px;

  cursor: pointer;
  transition: all 200ms ease;
}

button.primary:not([disabled]):active,
[role='button'].primary:not([disabled]):active {
  transform: translateY(0.5px);
}

button.primary,
[role='button'].primary {
  background-color: #3daaf5;
  color: white;
  border: 1px solid hsla(204, 90%, 50%, 1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

button.primary:focus,
[role='button'].primary:focus {
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2);
  border-color: hsla(204, 90%, 35%, 1);
}

button.primary.cancel,
button.primary.disabled,
button.primary[disabled],
[role='button'].primary.cancel,
[role='button'].primary.disabled,
[role='button'].primary[disabled] {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25) !important;
}

body.nightmode button.primary.cancel,
body.nightmode button.primary.disabled,
body.nightmode button.primary[disabled],
body.nightmode [role='button'].primary.cancel,
body.nightmode [role='button'].primary.disabled,
body.nightmode [role='button'].primary[disabled] {
  background-color: rgba(255, 255, 255, 0.18) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 25%) !important;
}


button.primary.cancel:focus,
button.primary.disabled:focus,
button.primary[disabled]:focus,
[role='button'].primary.cancel:focus,
[role='button'].primary.disabled:focus,
[role='button'].primary[disabled]:focus,
body.nightmode button.primary.cancel:focus,
body.nightmode button.primary.disabled:focus,
body.nightmode button.primary[disabled]:focus,
body.nightmode [role='button'].primary.cancel:focus,
body.nightmode [role='button'].primary.disabled:focus,
body.nightmode [role='button'].primary[disabled]:focus {
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.25) !important;
  border-color: rgba(0, 0, 0, 0.35) !important;
}


button.primary.danger,
button.primary.no,
button.primary.primary--2.danger,
button.primary.primary--2.no,
[role='button'].primary.danger,
[role='button'].primary.no,
[role='button'].primary.primary--2.danger,
[role='button'].primary.primary--2.no {
  background-color: rgba(230, 69, 72, 0.7);
  border-color: rgba(230, 69, 72, 0.6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

button.primary.danger:hover,
button.primary.no:hover,
button.primary.primary--2.danger:hover,
button.primary.primary--2.no:hover,
[role='button'].primary.danger:hover,
[role='button'].primary.no:hover,
[role='button'].primary.primary--2.danger:hover,
[role='button'].primary.primary--2.no:hover {
  background-color: rgba(230, 69, 72, 0.8);
  border-color: rgba(230, 69, 72, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

button.primary.danger:focus,
button.primary.no:focus,
button.primary.primary--2.danger:focus,
button.primary.primary--2.no:focus,
[role='button'].primary.danger:focus,
[role='button'].primary.no:focus,
[role='button'].primary.primary--2.danger:focus,
[role='button'].primary.primary--2.no:focus {
  box-shadow: 0 0 0 3px rgba(230, 69, 72, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  border-color: hsla(359, 76%, 54%, 1);
}

button.primary.yes,
button.primary.primary--2.yes,
[role='button'].primary.yes,
[role='button'].primary.primary--2.yes {
  background-color: hsla(133, 46%, 59%, 1);
  border-color: hsla(133, 46%, 48%, 1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

button.primary.yes:hover,
button.primary.primary--2.yes:hover,
[role='button'].primary.yes:hover,
[role='button'].primary.primary--2.yes:hover {
  background-color: hsla(133, 46%, 49%, 1);
  border-color: hsla(133, 46%, 38%, 1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

button.primary.yes:focus,
button.primary.primary--2.yes:focus,
[role='button'].primary.yes:focus,
[role='button'].primary.primary--2.yes:focus {
  box-shadow: 0 0 0 3px hsla(133, 46%, 59%, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  border-color: hsla(133, 46%, 35%, 1);
}

/* Primary 2
------------------------------------------------------------------------------------------------- */
button.primary.primary--2,
[role='button'].primary.primary--2 {
  box-shadow: none;
  border: 0;
  background: hsla(204, 90%, 50%, 1);
}
button.primary.primary--2:hover,
[role='button'].primary.primary--2:hover {
  background: #3daaf5;
}
button.primary.primary--2:not([disabled]):active,
[role='button'].primary.primary--2:not([disabled]):active {
  transform: translateY(0px);
}
button.primary.primary--2:focus,
[role='button'].primary.primary--2:focus {
  box-shadow: 0 0 0 3px rgba(0, 140, 221, 0.2);
  border-color: #000;
}

/* Other Primary States
------------------------------------------------------------------------------------------------- */
button.primary[disabled],
[role='button'].primary[disabled] {
  cursor: default;
}

button.primary.big,
[role='button'].primary.big {
  padding: 0 25px;
  line-height: 42px;
  font-size: 16px;
}

button.primary.small,
[role='button'].primary.small {
  line-height: 22px;
  padding: 0 5px;
  min-width: 50px;
}

button.primary .icon,
[role='button'].primary .icon {
  height: 1.1em;
  width: 1.1em;
  margin-right: 0.4em;
}
button.primary .icon:first-child:not(:last-child),
[role='button'].primary .icon:first-child:not(:last-child) {
  margin-right: 0.45em;
  margin-left: -0.15em;
}

/* Secondary Buttons
------------------------------------------------------------------------------------------------- */

button.secondary,
[role='button'].secondary,
.secondary-label {
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  padding: 5px 12px;
  text-align: center;
  border: 0.5px solid hsla(223, 67%, 18%, 0.2);
  border-radius: 2px;
  background: hsla(210, 14%, 98%, 1);
  color: hsla(223, 67%, 18%, 0.75);
  cursor: pointer;
}

button.secondary:not([disabled]):hover,
[role='button'].secondary:not([disabled]):hover {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
  color: hsla(223, 67%, 18%, 0.8);
}

button.secondary:not([disabled]):focus,
[role='button'].secondary:not([disabled]):focus {
  box-shadow: 0 0 0 2px rgba(0, 140, 221, 0.2);
  border-color: hsla(223, 67%, 18%, 0.5);
}

button.secondary.selected,
[role=button].secondary.selected {
  background: hsl(222deg 45% 88%);
}

button.secondary[disabled],
[role='button'].secondary[disabled] {
  cursor: default;
  color: hsla(223, 67%, 18%, 0.3);
  border: 0.5px solid hsla(223, 67%, 18%, 0.1);
}

button.secondary.border-light,
[role='button'].secondary.border-light,
.secondary-label.border-light {
  border: 0.5px solid hsla(223, 67%, 18%, 0.1);
}

button.secondary.small,
[role='button'].secondary.small {
  line-height: 14px;
  padding: 4px 8px;
  font-size: 12.5px;
}

button.secondary .icon,
[role='button'].secondary .icon {
  height: 1.1em;
  width: 1.1em;
}
button.secondary .icon:first-child:not(:last-child),
[role='button'].secondary .icon:first-child:not(:last-child) {
  margin-right: 0.15em;
  margin-left: -0.45em;
}

body.nightmode button.secondary,
body.nightmode [role='button'].secondary,
body.nightmode .secondary-label {
  background: hsl(232deg 12% 29% / 30%);
  border: 1px solid hsl(232deg 12% 29% / 35%);
  color: hsl(255deg 5% 73%);
  color: #e4c179;
}
body.nightmode button.secondary.border-light,
body.nightmode [role='button'].secondary.border-light,
body.nightmode .secondary-label.border-light {
  border: 1px solid hsl(232deg 12% 29% / 35%);
}
body.nightmode button.secondary:hover,
body.nightmode [role='button'].secondary:hover,
body.nightmode .secondary-label:hover {
  background: hsl(232deg 10% 29% / 50%);
  color: hsl(255deg 5% 73%);
  color: #f5e8cd;
}

body.nightmode button.secondary:not([disabled]):focus,
body.nightmode [role=button].secondary:not([disabled]):focus {
  box-shadow: 0 0 0 2px hsl(40deg 80% 70% / 30%);
  border-color: hsla(223deg, 67%, 18%, 0.5);
}
body.nightmode button.secondary.selected,
body.nightmode [role=button].secondary.selected {
  background: hsl(255deg 10% 24%);
}

/* Other Buttons
------------------------------------------------------------------------------------------------- */

button.docs-button,
[role='button'].docs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  line-height: 42px;
  transition: all 150ms ease;
  width: 240px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none !important;
  background: hsl(300, 55%, 69%);
  position: relative;
}

button.docs-button:hover,
[role='button'].docs-button:hover {
  background: hsl(300, 55%, 65%);
}

button.discord-button,
[role='button'].discord-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPUAAADwCAMAAADvotLkAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAQIAQv++fz2Aw3yBwUK+PD/W3OwAABYNJREFUeAHt3deWqzAPhuHPljtN93+zf8kasktWHLPHgBj0nk956NVA0zRN0zRN0zRN0zRN07Q+kTFWSKMxOKIpFJZVXDJ2jcbCEosJ+zUVllo02CeaWXIL9ihHlp2jHdCepRe7s4cVfSc2Rb5CM7q28DUa0THDF8kP6FfkqxTQrYmv04BeOb5OCzo18IUq6NTIVyqjTzNfKYs+Fb5SM/rElyqiS5mvFbpkVK1qVata1apWtapVrWpVq1rVqlY1VK1qVata1apWtapVrWpVR2et9VytWLu4+EPUJaQMAMhz0+32PIZycXUcBzyagucP+TABqzxeVl1Wcl48N+VDxlfDUq6odgaPKMUXnPstz38UE+Gr5K6mDsM6y35TOWetMXjJGLv80vsw4CvjrqR2+cscVomz04B6w2RXZDB1t0R1MX+a5zGjNbPEP6YbkPwl1JYAABTWDfPGhnH+fR0BLfLVMePR6OvkajRGZm9p/Q+KcPVCz5dEXCL8ezn456oCmkWrHR7ZdUP8nSiVdSICRbLaAMAQiyX0KLmS8SgJVjsAMDGhW8YlPCpy1QZATuhaMgCAJFYdsWNFqjphx6xQdcGekZeptti1IFNN2LUsUh2wc06i2mDnkkB1we55eeoRuxfkqQfsXhannnFARZo64YBGaWrCAQ3C1DMOKcpSJxzSKEtNOKRBlHrGQUVJ6oSDWiSpBxxUFqSOOCwvR21xWEGO2uCwkhi1x4eGZK01hGrGWpsGfIjEqGdUM8/b0u9NZH3jYHxRinpEJQr8zL8jGd88OtsiRZ3bxwhLDStrrLInKeqmbW6FnbfsCEmI2m2ZM57wUtm0Jywy1HbTvxgadkae8L4gQz1tWgl9y8wb8b5RhprwttAwkfLGlcaIUPuNO1fbcrSFSiLUDu9rOaaxW0/iogS13ah2LWqD980S1GkPdcb7rAS12Xg2vLQgUMlIUG8dBi81/P6CSlmAuqDS2LKh8ltHmhSgdhsPml3LTj2jVjlfHTaeF5qGi9wO1dz5aotaVBomkt04WvByvjptGm09UsOB64R69ny1wQa2I+AT239CI8lXg54kbxs+L+EGfMqcr8bnhtE57+ZEqJSC89HZDFxfvUt0SzVOV7tbq1VtB/RrMnipSFTnMqJTg5vxmpOoRuIyoUNkOdJl1EjMznzf7Fe0ePXKbnZXzCtakLp+m2LyzFwSfeOFxbeH7YM/W81z9XtePhhsjlKsnsRGPl3Ny4cTwrJkbGkdeKKY+g2Vc9Wc8KbseIUbNEUrmb0l2Xf3ODWcQPp5/CQ31vFaGPCmkYWoK2xMjn/lltEQXiMzhsjP/DJc4ckrDnjt7cgn0c32fyWT7P8KLvIfzal6hUKQmh3hfVQ6fTsvRxalrl7tCp2+wzN6eW+xzUOfbz5NlT2CJPWapR4jj/gMvDYEse/aezt0+BJnpIpZlnptnr7/JU6HP6Lk5I+N40MiPAvf/HjekObLjHlVgjW5enOm4bAnGzuXC45lVxz/Y67oGJWqVrWqVa1qVata1apWdbdUrWpVq1rVqla1qlWtalWrWtWqzrdUg0/OxzPUhU/OxBPUM5/cSPF4deKTc0A4XE18drSFjZ+yiE8AwtFqwycXAGA8WA3H51b2Hyte4oFK3sBGtyyf24hHkz9UjXj6vutR9oeq6WQ2tbPRsVz4zKb2/wP4MXM7tP8f6BotfF4FzWx0zhQ+rdzMRvdS5JMam995wQ5l6/iMYvObJNipwZwQWtn4wdlbqpFuqUa6pRrJ31GN7O+oRo53VIPiHdWgcEc1EG6pxnhLNdIt1cj+jmrkckc1KN5RDZrvqAbCLdUYb6lGuqUa2d9RjVzuqAbFO6pBM+OOLdA0TdM0TdM0TdM0TdO0b/ZfegfWFMciUSwAAAAASUVORK5CYII=')
    no-repeat 7px 8px / 30px 30px;
  background-color: hsl(227, 58%, 65%);
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  line-height: 42px;
  transition: all 150ms ease;
  width: 240px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none !important;
  position: relative;
}

button.discord-button:hover,
[role='button'].discord-button:hover {
  background-color: hsla(227, 58%, 60%);
}

.button-group > :not(:first-child) {
  border-left: 0 !important;
}
.button-group > :first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.button-group > :last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.button-group > *:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
}