.ui-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  z-index: 9999;
  background: white;
  min-width: 150px;
  box-shadow: 0 1px 1px hsla(223, 67%, 18%, 0.2), 0 1px 6px hsla(223, 67%, 18%, 0.2);
  opacity: 0;
  transform: scale(0.7);
  transform-origin: left top;
  transition: transform 100ms ease, opacity 100ms ease;
  visibility: hidden;

  &.right {
    left: auto;
    right: 0;
  }

  &.active {
    transform: scale(1.0);
    opacity: 1;
    visibility: visible;
  }

  .option, .label {
    display: block;
    padding: 3px 8px;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
  }

  .option {
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,0.05);
    }
    &.selected {
      background: #dcf1fe;
      color: #094976;
      font-weight: bold;
    }
  }

  .option-sep {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.06);
  }

  body.nightmode & {
    background: hsl(253deg 13% 12%);
    box-shadow: 0 1px 4px hsl(253deg 13% 28%), 0 1px 4px hsl(253deg 13% 8%);
    border-bottom: 2px solid hsl(253deg 13% 4%);

    .option {
      &:hover {
        background: rgba(255,255,255,0.04);
      }
      &.selected {
        background: #0c476a;
        color: #a0cbe9;
      }
    }

    .option-sep {
      background: rgba(255,255,255,0.06);
    }
  }
}
