$modal-border: hsla(223, 67%, 18%, 0.2);
$modal-border-nightmode: hsl(255deg 13% 25%);

.modal-outer {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 9990;
  transition: background 100ms linear;
  background: transparent;

  &.in {
    background: rgba(0,0,0,0.25);
  }

  body.nightmode & {
    background: rgba(255,255,255,0.1);
  }
}

.modal {
  display: block;
  position: relative;
  background: white;
  box-shadow:
          0 10px 100px rgba(0, 0, 0, 0.1),
          0 0 1px rgba(0, 0, 0, 0.1),
          0 1px 2px rgba(0, 0, 0, 0.35);
  max-height: 100vh;
  max-width: 600px;
  margin: 5% auto 30px;
  overflow: auto;
  border-radius: 5px;
  opacity: 0;
  width: 100%;
  transform: translateY(-25%);
  transition: transform 200ms ease-out, opacity 100ms linear;

  &.modal-lg {
    max-width: 800px;
  }

  body.nightmode & {
    background: hsl(255deg 13% 14%);
    box-shadow:
            0 10px 100px rgb(255 255 255 / 10%),
            0 0 1px rgb(255 255 255 / 10%),
            0 1px 25px rgb(255 255 255 / 5%);
  }

  &.in {
    opacity: 1;
    transform: translate(0%);
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 0.5px solid $modal-border;

    body.nightmode & {
      border-bottom-color: $modal-border-nightmode;
    }

    .modal-close {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-content {
    font-size: 15px;
    font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
    min-height: 40px;
    padding: 10px 20px;
    line-height: 1.3em;

    &.modal-inset {
      overflow: auto;
      box-shadow: inset 0 11px 8px -10px #ccc, inset 0 -11px 8px -10px #ccc;
      padding: 20px 20px 20px;
      max-height: 65vh;
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 0.5px solid $modal-border;

    body.nightmode & {
      border-top-color: $modal-border-nightmode;
    }
  }

  hr {
    border: 0;
    border-bottom: 0.5px solid $modal-border;

    body.nightmode & {
      border-bottom-color: $modal-border-nightmode;
    }
  }
}