#toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.toast {
  padding-top: 10px;
  will-change: margin-bottom, opacity;
  position: relative;
}

.toast-card {
  border: 1px solid hsla(223, 67%, 18%, 0.3);
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 280px;
  max-width: 350px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.toast.toast-success .toast-card {
  background: hsl(145, 67%, 82%);
}

.toast.toast-info .toast-card {
  background: hsl(206, 100%, 90%);
}

.toast.toast-error .toast-card {
  background: hsl(4, 69%, 50%);
  color: #fff;
}

.toast-title {
  font-weight: bold;
  margin-bottom: 3px;
}

.toast.toast-error .toast-title {
  text-decoration: underline;
}

.toast-title:empty {
  display: none !important;
}
.toast-desc:empty {
  display: none !important;
}

.toast-inner {
  padding-right: 20px;
}

.toast-inner button.close {
  position: absolute;
  right: 10px;
  top: 20px;
}

.toast.toast-error .toast-inner button.close:before,
.toast.toast-error .toast-inner button.close:after {
  background: #fff;
}