
.tab-list {
  background: #555;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;

  button, a {
    display: inline-block;
    text-decoration: none;
    font-size: 13.333px;
    border: 0;
    height: 32px;
    color: #fff;
    line-height: 34px;
    padding: 0 20px;
    margin: 4px 4px 0;
    background: #3a3a3a;
    position: relative;
    outline: none !important;
    cursor: pointer;

    &.mini {
      line-height: 30px;
      height: 28px;
      font-size: 12.777px;
    }

    &.active {
      background: #fff;
      color: #3f3f3f;
      font-weight: 700;
    }

    &:focus {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border: 1px dashed #fff;
      }
    }

    &.active:focus {
      color: hsl(220, 61%, 50%);
      &:before {
        border: 1px dashed rgba(0, 140, 221, 0.85);
      }
    }
  }

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #fff;
    position: relative;
  }
}

body .tab-list {
  background: hsl(240, 30%, 90%);
  box-shadow: 0 -0.5px 2px hsla(223, 67%, 18%, 0.2),
    0 1px 2px hsla(223, 67%, 18%, 0.2);

  button, a {
    background: hsl(240, 30%, 95%);
    color: hsla(223, 67%, 18%, 0.9);

    &.active {
      background: hsl(240, 30%, 100%);
      color: #0f214d;
    }

    &:focus:before {
      border-color: hsla(223, 67%, 18%, 0.4);
    }
  }

  &:after {
    background: hsl(240, 30%, 100%);
  }
}

body.nightmode .tab-list {
  background: hsl(255deg 8% 8%);

  button, a {
    background: hsl(236 13% 18% / 1);
    color: #fff;

    &.active {
      background: hsl(236 13% 29% / 1);
      color: #fff;
    }
  }

  &:after {
    background: hsl(236 13% 29% / 1);
  }
}

.card > h3 + .tab-list.secondary,
.card .secondary-header + .tab-list.secondary {
  margin-top: -2px;
}

body .tab-list.secondary {
  background: #f1f2f5;
  box-shadow: none;

  button, a {
    background: transparent;
    height: 26px;
    line-height: 28px;
    margin: 1px 0 0 0;
    position: relative;
    bottom: -1px;
    z-index: 50;

    &.active {
      background: #fff;
      border: 1px solid hsla(223, 67%, 18%, 0.1);
      border-bottom: 1px solid #fff;
    }

    &:focus {
      color: #2168f8;
    }

    &:focus:before,
    &:before {
      display: none;
    }

    &.small {
      padding: 0 6px;
      font-size: 11px;
    }
  }

  > :first-child {
    margin-left: 10px;
  }
  > :last-child {
    margin-right: 10px;
  }

  &:after {
    display: none;
  }
}

body.nightmode .tab-list.secondary {
  background: #353645;

  button, a {
    &.active {
      background: #211f28;
      border: 0;
    }
    &:focus {
      color: #87aaf1;
      text-shadow: none;
    }
  }
}

