
.asi {
  display: block;
  position: relative;
  z-index: 9999;
}

.asi-hide {
  display: none !important;
}

.asi-input {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #f5f5f5;
  border-radius: 3px;
  color: rgba(0,0,0,0.8);
  cursor: text;
  /* left padding is cursor-to-start target,
  right padding is to account for the search/clear icon so that the
  asi-group and asi-placeholder don't overlap the icon */
  padding: 0 30px 0 10px;
  position: relative;
  z-index: 9999;
}

.asi-group, .asi-text, .asi-placeholder, .asi-resizing-span {
  line-height: 34px;
  min-height: 34px;
  font-family: Open Sans, sans-serif !important;
  font-size: 12px !important;
}

.asi-group, .asi-text, .asi-placeholder, .asi-resizing-span, .asi-resizing-span2 {
  display: inline-block;
}

.asi-text, input.asi-text[type=text] {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

input[type=text].asi-text.asi-text--error {
  color: #E64548;
}

.asi-text:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.asi-placeholder {
  color: rgba(0,0,0,0.4);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.asi-resizing-span, .asi-resizing-span2 {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  min-height: initial;
  overflow: hidden;
}

.asi-input > .asi-icon {
  color: hsl(217, 11%, 77%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 10px;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
}

.asi-input > .asi-icon.asi-icon--copy {
  display: none;
  margin-right: 36px;
  font-size: 17px;
  transition: all 200ms;
}

.asi-input > .asi-icon.asi-icon--active:hover,
.asi-input > .asi-icon.asi-icon--copy:hover {
  cursor: pointer;
  color: hsl(217, 11%, 70%);
}

.asi-input > .asi-icon.asi-icon--active:not(.asi-hide) ~ .asi-icon--copy {
  display: block;
}





.asi-group {
  padding: 3.5px 0;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.asi-group .asi-token {
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}

.asi-token {
  margin-right: 5px;
  font-size: 0;
  display: -webkit-inline-flex;
  display: inline-flex;
  height: 21px;
  position: relative;
}

.asi-token--label, .asi-token--value, .asi-token--modifier {
  display: inline-block;
  background: #3daaf5;
  color: white;
  line-height: 21px;
  font-size: 12px;
}

.asi-token--label {
  padding: 0 2px 0 5px;
  border-radius: 3px 0 0 3px;
}

.asi-token--modifier {
  padding: 0 2px;
  background: #209ff3;
}

.asi-token--value {
  padding: 0 2px;
}
.asi-token--value + .asi-token--value:before {
  content: 'OR';
  margin: 0 5px 0 2px;
  font-weight: bold;
  font-size: 10px;
}
.asi-token.asi-token--closed .asi-token--value:last-child {
  padding: 0 5px 0 2px;
  border-radius: 0 3px 3px 0;
}

.asi-token--label ~ .asi-token--label,
.asi-token .asi-token .asi-token--label,
.asi-token .asi-token .asi-token--value {
  border-radius: 0;
}

.asi-token.asi-token--error .asi-token--label,
.asi-token.asi-token--error .asi-token--modifier,
.asi-token.asi-token--error .asi-token--value {
  background: rgba(230, 69, 72, 0.6);
}







.asi-resizing-span2 {
  font-family: Open Sans, sans-serif;
  line-height: 26px;
  font-size: 11px;
}

.asi-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 8px;
  font-family: Open Sans, sans-serif;
  color: white;
  font-size: 11px;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  line-height: 26px;
  min-width: 40px;
  text-align: center;
  padding: 0 6px;
  box-sizing: border-box;
  opacity: 0;
}
.asi-tooltip:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100%;
}

.asi-token:hover .asi-tooltip, .asi-icon:hover .asi-tooltip {
  display: block;
  opacity: 0;
  animation: tooltip-hover 200ms;
  animation-fill-mode: forwards;
}

@keyframes tooltip-hover {
  from { opacity: 0; }
  to { opacity: 1; }
}






.asi-helper {
  position: absolute;
  background: white;
  display: block;
  top: 100%;
  left: 0;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15),0 0 1px rgba(0,0,0,.3);
  padding: 0;
  line-height: 24px;
  min-width: 400px;
  cursor: default;
  z-index: 9999;
}

.asi-helper section {
  padding: 8px 10px;
  border-radius: 3px;
}
.asi-helper section:not(.asi-hide) ~ section:not(.asi-hide) {
  border-top: 1px solid rgba(0,0,0,0.09);
}

.asi-helper section small {
  color: rgba(0,0,0,0.35);
}

.asi-helptitle, .asi-search-for--label {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  color: rgba(0,0,0,0.3);
  font-size: 11px;
  cursor: default;
}

.asi-helptitle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

ul.asi-helplisting {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}

.asi-helpitem {
  display: block;
  padding: 0 5px;
}
.asi-helpitem:hover, .asi-helpitem.asi-selected {
  background: #f5f5f5;
  cursor: pointer;
}

.asi-helpitem--label {
  color: rgba(0,0,0,0.9);
}

.asi-helpitem--placeholder {
  color: rgba(0,0,0,0.5);
}

.asi--search-for {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
input.asi-search-for--input[type=text] {
  border: 0;
  font-family: Open Sans, sans-serif;
  background: transparent;
  flex-grow: 1;
  text-overflow: ellipsis;
}
.asi-search-for--error {
  display: block;
  box-sizing: border-box;
  width: 100%;
  flex-basis: 100%;
  background: #ffe8e0;
  background: rgba(230, 69, 72, 0.1);
  padding: 0 5px;
  color: hsl(217, 11%, 40%);
  font-size: 12px;
  margin-top: 5px;
}

.asi--search-for.asi-search-for--token-active[data-error]:after {
  margin-top: 3px;
}

.asi kbd {
  color: #b0bec5;
  border-color: #b0bec5;
  box-shadow: 0 3px 0 -1px hsla(200, 15%, 83%, 1), 0 3px 0 0px hsla(200, 15%, 77%, 1);
}



.asi-desc {
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  color: hsl(217, 11%, 40%);
}
.asi-desc ul, .asi-desc ol {
  padding-left: 20px;
  list-style-type: none;
}
.asi-desc ul li, .asi-desc ol li {
  position: relative;
}
.asi-desc ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid hsl(217, 11%, 80%);
  box-sizing: border-box;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto 7px auto 0;
}

.asi-desc ol {
  counter-reset: asi-ol;
}
.asi-desc ol li:before {
  counter-increment: asi-ol;
  content: counter(asi-ol);
  display: block;
  position: absolute;
  right: 100%;
  margin-right: 7px;
  font-size: 10px;
  font-weight: bold;
  color: hsl(217, 11%, 78%);
}
.asi-desc code {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  color: #333;
  padding: 2px 3px;
  background: #f1f1f1;
  border: 0;
  border-radius: 0;
}

.asi-desc pre {
  white-space: pre;
  display: block;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  color: #333;
  font-size: 13px;
  line-height: 23px;
  background: #f1f1f1;
  overflow-x: auto;
  width: auto;
  padding: 5px 10px;
  margin: 15px 0;
}








.asi-helpbtn {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  border: 0;
  background: transparent;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 7px;
  line-height: 28px;
  color: rgba(0,0,0,0.35);
}
.asi-helpbtn:hover {
  background: rgba(0,0,0,0.06);
  cursor: pointer;
}

.asi-helpbtn.asi-helpbtn--done {
  color: hsla(204, 90%, 50%, 1);
}















.asi-helper[data-token-for--type='date'] .asi--search-for,
.asi-helper[data-token-for--type='time'] .asi--search-for,
.asi-helper[data-token-for--type='datetime'] .asi--search-for {
  display: none !important;
}

.asi-helper section[data-section='type-date'],
.asi-helper section[data-section='type-time'],
.asi-helper section[data-section='type-datetime'] {
  border-top: 0 !important;
}

.asi-helpbody.asi-component--datetime {
  margin: 5px -10px -8px -10px;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(0,0,0,0.09);
}

.asi-helpbody.asi-component--datetime:before,
.asi-helpbody.asi-component--datetime:after {
  content: '';
  display: table;
}
.asi-helpbody.asi-component--datetime:after {
  clear: both;
}

.asi-helpbody .pika-single {
  border: 0;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #e8e8e8;
  float: left;
  width: 238px;
}
.asi-helpbody .pika-lendar {
  margin: 0;
  border-radius: 0 0 3px 3px;
}





.asi-helpbody .pika-lendar {
  width: 238px;
}

.asi-helpbody .pika-title,
.asi-helpbody .pika-label,
.asi-helpbody .pika-prev,
.asi-helpbody .pika-next {
  height: 30px;
  background: #3daaf5;
  color: white;
}

.asi-helpbody .pika-prev,
.asi-helpbody .pika-next {
  position: relative;
  font-size: 0;
  width: 30px;
}

.asi-helpbody .pika-prev:before,
.asi-helpbody .pika-next:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}
.asi-helpbody .pika-prev:before {
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg);
}
.asi-helpbody .pika-next:before {
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.asi-helpbody .pika-table td,
.asi-helpbody .pika-table th {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  line-height: 34px;
}

.asi-helpbody .pika-table th {
  border: 0;
  background: #3daaf5;
  color: white;
  font-size: 10px;
}

.asi-helpbody .pika-button,
.asi-helpbody .pika-button:hover {
  text-align: center;
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin: auto;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: hsl(217, 11%, 70%);
  background: transparent;
  border-radius: 0;
  border: 0;
}

.asi-helpbody .pika-button:hover {
  background: #f0f0f0;
}

.asi-helpbody .is-today .pika-button {
  color: #3daaf5;
}

.asi-helpbody .is-selected .pika-button {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  line-height: 23px;
  background: #3daaf5;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  border: 2px solid white;
  box-sizing: content-box;

}

.asi-helpbody.asi-component--datetime[data-date="true"][data-time="false"] {
  background: #f8f8f8;
}

.asi-helpbody.asi-component--datetime[data-date="true"][data-time="false"] .pika-single {
  margin: 15px auto;
  float: none;
  border: 0;
  border-radius: 0;
  box-shadow: 0 14px 12px -10px rgba(0,8,26,0.12);
}















/* time chooser */
.asi-helpbody .asi-timechooser {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  width: 170px;
  border-left: 1px solid #e8e8e8;
  box-sizing: border-box;
  left: -1px;
}

.asi-helpbody .pika-single ~ .asi-timechooser {
  height: 234px;
  box-shadow: -4px 3px 5px -3px rgba(0,0,0,0.15);
  position: relative;
  z-index: 10000;
}
.asi-helpbody .pika-single ~ .asi-timechooser .asi-clock {
  top: 25px;
}

.asi-helpbody.asi-component--datetime[data-date="false"][data-time="true"] .asi-timechooser {
  margin: 0 auto;
  border: 0;
}

.asi-clock {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

/* clock options */
.asi-clockopt {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  color: hsla(217, 11%, 85%, 1);
  cursor: pointer;
}
.asi-clockopt:not(.asi-clockopt--selected):hover {
  background: #BDC2CA;
  color: white;
  z-index: 4;
}
.asi-clockopt.asi-clockopt--selected {
  background: #3daaf5;
  color: white;
  z-index: 3;
}


/* inner clock */
.asi-innerclock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.asi-innerclock:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3daaf5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.asi-clock:after {
  content: '';
  position: absolute;
  top: 22px;
  right: 22px;
  bottom: 22px;
  left: 22px;
  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: 0 1px 4px rgba(0,0,0,0.18);
}

.asi-innerclock, .asi-clock:after {
  transition: transform 300ms ease;
  transform-origin: center center;
}

/* hour clock */
.asi-innerclock.asi-innerclock--hour {
  z-index: 1;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
}

.asi-innerclock.asi-innerclock--hour .asi-clockopt:not(.asi-clockopt--selected):not(:hover) {
  background: rgba(245, 245, 245, 0.90)
}

.asi-clock.asi-clock--hourselected .asi-innerclock.asi-innerclock--hour,
.asi-clock.asi-clock--hourselected:after {
  transform: scale(0.9);
}

/* minute clock */
.asi-innerclock.asi-innerclock--minute {
  z-index: 0;
}
.asi-innerclock.asi-innerclock--minute .asi-clockopt {
  font-size: 9px;
}

.asi-innerclock.asi-innerclock--minute {
  transform: scale(0.7);
}

.asi-clock.asi-clock--hourselected .asi-innerclock.asi-innerclock--minute {
  animation: asi-minuteclock-show 300ms ease;
  animation-fill-mode: forwards;
}

@keyframes asi-minuteclock-show {
  0% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}

/* positioning */
/*12:0deg*/
.asi-clockopt:nth-child(1) {
  left: 50%;
  transform: translate(-50%);
}
/*==============================*/
/*1:30deg*/
.asi-clockopt:nth-child(2) {
  top: 15%;
  transform: translateY(-50%);
  right: 21.5%;
}
/*2:60deg*/
.asi-clockopt:nth-child(3) {
  top: 30%;
  transform: translateY(-50%);
  right: 5%;
}
/*------------------------------*/
/*3:90deg*/
.asi-clockopt:nth-child(4) {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/*------------------------------*/
/*4:120deg*/
.asi-clockopt:nth-child(5) {
  top: 70%;
  transform: translateY(-50%);
  right: 5%;
}
/*5:150deg*/
.asi-clockopt:nth-child(6) {
  top: 85%;
  transform: translateY(-50%);
  right: 21.5%;
}
/*==============================*/
/*6:180deg*/
.asi-clockopt:nth-child(7) {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;

}
/*==============================*/
/*7:210deg*/
.asi-clockopt:nth-child(8) {
  top: 85%;
  transform: translateY(-50%);
  left: 21.5%;
}
/*8:240deg*/
.asi-clockopt:nth-child(9) {
  top: 70%;
  transform: translateY(-50%);
  left: 5%;
}
/*------------------------------*/
/*9:270deg*/
.asi-clockopt:nth-child(10) {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
/*------------------------------*/
/*10:300deg*/
.asi-clockopt:nth-child(11) {
  top: 30%;
  transform: translateY(-50%);
  left: 5%;
}
/*11:330deg*/
.asi-clockopt:nth-child(12) {
  top: 15%;
  transform: translateY(-50%);
  left: 21.5%;
}
/*==============================*/

/* clock hands */
.asi-clock--hourhand, .asi-clock--minutehand {
  content: '';
  display: none;
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 30px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
  background: #3daaf5;
  transform-origin: 50% bottom;
}
.asi-clock.asi-clock--hourselected .asi-clock--hourhand,
.asi-clock.asi-clock--minuteselected .asi-clock--minutehand {
  display: block;
}

.asi-clock--minutehand {
  height: 56px;
}

/* time period (am/pm) */
.asi-timeperiod {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 20px;
}

.asi-timeperiodopt {
  position: absolute;
  font-size: 9px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  bottom: 0;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  color: #BDC2CA;
  cursor: pointer;
}

.asi-timeperiodopt:not(.asi-timeperiodopt--selected):hover {
  background: hsla(217, 11%, 94%, 1);
}

.asi-timeperiodopt--selected {
  color: white;
  background: #3daaf5;
}

.asi-timeperiodopt:first-child {
  left: 0;
}

.asi-timeperiodopt:last-child {
  right: 0;
}